// reset
@import 'reset';

// variables
@import 'variables';

// mixins
@import 'mixins';

/* Loader */
#container_loader {
    @include flex-container($direction: $flex-direction_row,
        $justify: $justify_content_center,
        $align: $align_items_center);
    position: $position_fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba($color: $strong_black, $alpha: 0.6);
    z-index: 100;

    .container_loader_circle {
        @include flex-container($direction: $flex-direction_row,
            $justify: $justify_content_center,
            $align: $align_items_center);
        @include dimensions($width: $spacing_30, $height: $spacing_30);
        border-radius: 50%;
        margin: $spacing_10;
        border: $border_solid $border_width_4 $primary_color_light_cyan;
        animation: loadermove 1s linear infinite;

        .dot {
            @include dimensions($width: $spacing_10, $height: $spacing_10);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $primary_color_bright_light_cyan;
            box-shadow: 0 0 50px $primary_color_bright_light_cyan;
            animation: loaderscale 3s linear infinite;
        }
    }
}

.container_loader_circle:nth-child(1) {
    transform: translateY(10px);
}

.container_loader_circle:nth-child(2) {
    transform: translateY(-10px);
}

.container_loader_circle:nth-child(3) {
    transform: translateY(10px);
}

.container_loader_circle:nth-child(4) {
    transform: translateY(-10px);
}

/* animation_keyframes_scale_loader */
@keyframes loadermove {
    0% {
        box-shadow: 0 0 10px $primary-color-light-cyan;
    }

    50% {
        box-shadow: 0 10px 20px $primary-color-light-cyan;
        transform: scale(1);
    }

    100% {

        box-shadow: 0 0 30px $primary-color-light-cyan;
    }
}

/* animation_keyframes_scale_loader_end */

/* animation_keyframes_scale_dot */
@keyframes loaderscale {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(0);
    }
}

/* animation_keyframes_scale_dot_end 
/* loader_end */

/* btn_reactive_additionnal_information */
.reactive_additional_information_section_btn {
    cursor: $cursor_pointer;
    position: $position_fixed;
    right: 500px;
    bottom: 6%;
    left: 3%;
    z-index: 250;
    width: $spacing_40;

    .bxs-radiation {
        padding: $spacing_10;
        border-radius: $border_radius_half;
        background: $neutral_white;
        color: $primary-color-light-cyan;
        font-size: 25px;
        animation: rotateBtn 5s linear infinite;
        box-shadow: 0 0 10px $primary-color-light-cyan;
    }
}

@keyframes rotateBtn {
    100% {
        transform: rotate(360deg);
    }
}

/* btn_reactive_additionnal_information_end */

/* section_reactive_information */
.reactive_additional_information_section {
    position: $position_fixed;    
    display: $display_flex;
    flex-direction: $flex-direction_column;
    justify-content: $justify_content_space_around;
    top: 50%; 
    transform: translateY(-50%); 
    min-width: calc(300px);
    width: 20%;
    right: -350px;
    border-radius: $border_radius_20;
    background: $primary-color-light-cyan;
    box-shadow: 0 0 10px $primary-color-light-cyan;
    color: $neutral_white;
    z-index: 50;
    transition: 1s;
    box-shadow: inset 1.21px 1.59px 2.80px -0.35px rgba(0, 0, 0, 0.15),
        inset -1.82px -2.39px 2.80px -0.35px rgba(0, 0, 0, 0.3),
        3.63px 4.77px 2.10px -1.05px rgba(0, 0, 0, 0.6);

    &.active_section_reactive {
        right: $spacing_0;
    }
}

    .reactive_additional_information_section_title {
        @include text-custom($font_size: $font_size_1_2,
            $font_weight: $font_weight_medium,
            $text_color: $neutral_white,
            $text_transform: $text_transform_capitalize,
            $letter_spacing: $letter_spacing_light);
        text-align: $text_align_center;
        margin: $spacing_10 $spacing_0;
    }


.reactive_additional_information_section_article {
    display: $display_flex;
    flex-direction: $flex_direction_column;
    width: 250px;
    margin: $spacing_10 $auto;
    height: $auto;
    @include border-properties($border_style: $border_solid,
        $border_width: $border_width_1,
        $border_color: $neutral_white,
        $radius: $border_radius_20);
    background: $strong_black;

    .reactive_additional_information_section_article_title {
        text-align: $text_align_center;
        margin: $spacing_10 $spacing_0;
    }

    .reactive_additional_information_section_article_link {
        @include border-properties($border_style: $border_solid,
            $border_width: $border_width_1,
            $border_color: $strong_black,
            $radius: $border_radius_20);
        width: 40%;
        padding: 8px 15px;
        background: $neutral_white;
        margin: $spacing_10 $auto;
        text-align: $text_align_center;
        color: $strong_black;
        transition: 0.2s;

        &:hover {
            color: $neutral_white;
            background: $primary-color-light-cyan;
            box-shadow: inset 1.21px 1.59px 2.80px -0.35px rgba(0, 0, 0, 0.15),
                inset -1.82px -2.39px 2.80px -0.35px rgba(0, 0, 0, 0.3),
                3.63px 4.77px 2.10px -1.05px rgba(0, 0, 0, 0.6);
        }
    }
}

/* section_reactive_information_end */

/* body */
body {
    @include dimensions($width: 100%, $height: auto);
    background: #04060a;
    font-size: 16px;
    font-family: Helvetica;
    overflow-x: $overflow_hidden;
}

/* body_end */

/* header */
header {
    @include media-minwidth($smartphone_size) {
        margin: $spacing_0 $spacing_20;
    }

    @include media-maxwidth($smartphone_size) {
        padding: 5%;
    }

    @include flex-container($direction: $flex_direction_row,
        $justify: $justify_content_space_around,
        $align: $align_items_center);
    padding-top: $spacing_35;

    /* header_logo */
    .header_logo {
        cursor: $cursor_pointer;
        @include flex-container($direction: $flex_direction_row,
            $justify: $justify_content_center,
            $align: $align_items_center);

        .header_logo_image {
            animation: rotate 3s linear infinite;
        }
    }

    .header_logo_title {
        @include media-maxwidth($tablet_size) {
            visibility: $visibility_hidden;
        }

        @include text-custom($font_size: $font_size_1_2,
            $font_weight: $font_weight_medium,
            $text_color: $neutral_white,
            $text_transform: $text_transform_none,
            $letter_spacing: $letter_spacing_strong);
        @include text-gradient(linear-gradient(35deg, $primary_color_bright_light_cyan, $primary_color_light_cyan), text, transparent);
        margin-left: $spacing_10;
    }

    /* header_logo_end */

    .header_nav_bar_link {
        @include media-maxwidth($deskop_size) {
            display: $display_none;
        }

        @include text-custom($font_size-1,
            $font_weight_medium,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_medium);
        transition: color 0.5s;
        margin-right: 18px;

        &:hover {
            color: $primary-color-light-cyan;
        }
    }

    .header_box_button_link {
        @include media-maxwidth($deskop_size) {
            display: $display_none;
        }

        @include text-custom($font_size: $font_size_1,
            $font_weight: $font_weight_medium,
            $text_color: $neutral_white,
            $text_transform: $text_transform_capitalize,
            $letter_spacing: $letter_spacing_light);
        padding: 8px $spacing_15;
        margin: $spacing_5;
        @include border-properties($border_solid,
            $border_width_1,
            $primary-color-light-cyan,
            $border_radius_5);
        transition: 0.5s;

        &:hover {
            background: $primary_color_light_cyan;
        }
    }

    .active {
        background: $primary-color-light-cyan;
        transition: 0.5s;

        &:hover {
            box-shadow: 0px 0px 50px $primary_color_light_cyan;
        }
    }
}

.header_nav_bar_link {
    position: $position_relative;

    &::after {
        @include dimensions($width: 100%, $height: 2px);
        content: "";
        position: $position_absolute;
        left: 0;
        bottom: -9px;
        background: $primary_color_light_cyan;
        border-radius: $border_radius_40;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .2s;
    }
}

.header_nav_bar_link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

/* Animation rotate logo */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(220deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Animation_rotate_logo */

/* burger_menu */
.header_burger_menu {
    @include media-maxwidth($deskop_size) {
        display: $display_block;
    }

    @include dimensions($width: auto, $height: auto);
    cursor: $cursor_pointer;
    display: $display_none;

    .bar {
        @include dimensions($width: 35px, $height: 2px);
        background: $neutral_white;
        margin: $spacing_10;

        &:nth-child(2) {
            width: $spacing_15;
            transition: width 0.5s ease-in-out;
        }
    }

    &:hover {
        .bar {
            transition: background-color 0.5s;
            background: $primary_color_light_cyan;
            transition: width 0.5s ease-in-out;
        }

        .bar:nth-child(2) {
            width: $spacing_35;
        }
    }
}

/* burger_menu_end */

/* nav_bar_dropdown */
.header_nav_bar_drodpdown {
    cursor: $cursor_pointer;
    display: $display_inline_block;
}

.header_nav_bar_drodpdown_container {
    @include dimensions($width: 40%, $height: auto);
    @include flex-container($flex_direction_row,
        $justify_content_space_around,
        $align_items_center);
    @include border-properties($border_solid,
        $border_width_3,
        $neutral_white,
        $border_radius_10);
    background: $primary-color-light-cyan;
    display: $display_none;
    padding: $spacing_10;
    margin-top: $spacing_20;
    max-width: 400px;
    position: $position_absolute;
    left: 52%;
    z-index: 10;

    .header_nav_bar_drodpdown_container_column {
        @include flex-container($flex_direction_row,
            $justify_content_space_between,
            $flex_wrap);
        width: 80%;
    }

    .header_nav_bar_drodpdown_container_link {
        color: $strong_black;
        font-size: $font_size_1_1;
        text-transform: $text-transform_capitalize;
        padding: $spacing_10;
        width: $spacing_40;
        transition: 0.3s;

        &:hover {
            color: $neutral_white;
        }
    }
}

#header_nav_bar_dropdown_scrolling_menu {
    @include dimensions($width: 100%, $height: 100%);
    display: $display_none;
    position: $position_fixed;
    top: 0;
    left: 0;
    background: $strong_black;
    z-index: 500;

    .header_nav_bar_dropdown_scrolling_menu_link {
        @include text-custom($font_size_1_2,
            $font_weight_medium,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_medium);
        @include flex-container($flex_direction_row, $justify_content_space_between);
        width: 100%;
        left: 5%;
        padding: $spacing_20;
        position: $position_relative;
        border-top: $border_solid $border-width_2 $neutral_white;

        &:hover {
            background: $primary_color_light_cyan;
        }
    }
}

/* header_nav_scrolling_menu */
.header_nav_bar_dropdodwn_scrolling_menu_header {
    @include dimensions($width: auto, $height: 10%);
    @include flex-container($flex-direction_row,
        $justify_content_space_between,
        $align_items_center);
    margin: $spacing_0 5%;
    padding: $spacing_10;
}
/* header_nav_scrolling_menu_end */

/* header_logo_image_scrolling_menu */
.header_logo_image{
    animation: rotate 3s linear infinite;
}
/* header_logo_image_scrolling_menu_end */

/* header_nav_bar_dropdown_burger_menu_header_cross */
.header_nav_bar_dropdown_burger_menu_header_cross {
    @include dimensions($width: 32px, $height: 32px);
    position: $position_relative;
    cursor: $cursor_pointer;
    display: $display_flex;
    justify-content: $justify_content_center;

    &:before,
    &:after {
        @include dimensions($width: 2px, $height: 33px);
        background: $neutral_white;
        position: $position_absolute;
        content: ' ';
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}
/* header_nav_bar_dropdown_burger_menu_header_cross_end */

/* nav_bar_dropdown_end */

/* header_end */

/* section_presentation */
.section_presentation {
    @include media-minwidth($smartphone_size) {
        margin-top: $spacing_30;
    }

    @include media-maxwidth($tablet_size) {
        margin-top: $spacing_15;
    }

    @include flex-container($flex_direction_column,
        $justify_content_space_evenly,
        $align_items_center);

    @include background-properties($background_size_cover,
        $background_position_center,
        $background_no_repeat);
    background-image: url("/asset/connection.jpg");
    min-height: 100vh;

    @include media-maxwidth($deskop_size) {
        min-height: 0;
    }
}

.section_presentation_introduction {
    @include media-maxwidth($smartphone_size) {
        margin: $spacing_20 $spacing_0;
    }

    width: 100%;
    margin: $spacing_0 $spacing_10;


    .section_presentation_introduction_title {
        @include media-maxwidth($tablet_size) {
            margin: 5%;
        }

        @include text-custom($font_size_2_5,
            $font_weight_medium,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_strong);
        text-align: $text_align_center;
    }

    .section_presentation_introduction_subtitle {
        @include text-custom($font_size_1_5,
            $font_weight_medium,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_strong);
        width: 70%;
        margin: $spacing_35 $auto;
        text-align: $text_align_center;
        opacity: 0.7;
        line-height: 1.5;

        .subtitle_strong {
            color: $primary_color_light_cyan;
        }
    }
}

.section_presentation_list_advantage {
    @include media-minwidth($smartphone_size) {
        margin-right: $spacing_20;
    }

    ;
    @include border-properties($border_solid,
        $border_width_2,
        $neutral_white,
        $border_radius_5);
    background: $primary-color-light-cyan;
    padding: $spacing_10;
    width: 40%;
    min-width: 330px;
    box-shadow: 0 0 10px $primary-color-light-cyan;

    .section_presentation_list_advantage_menu_item {
        padding: $spacing_10;

        i {
            padding-right: 4px;
            color: $neutral_white;
        }
    }
}

.section_presentation_link {
    margin-top: $spacing_40;
}

.section_presentation_link_download_app {
    @include text-custom($font_size_1_2,
        $font_weight_medium,
        $neutral_white,
        $text_transform_capitalize,
        $letter_spacing_strong);
    text-transform: $text-transform_capitalize;

    @include border-properties($border_solid,
        $border_width_1,
        $primary-color-light-cyan,
        $border_radius_25);
    padding: $spacing_15 $spacing_20;
    transition: 0.3s;

    &:hover {
        background: $primary-color-light-cyan;
        box-shadow: 0 0 10px $primary_color_bright_light_cyan;
    }
}

/* section_exchange_presentation_end */

/* section_buy_crypto */
.section_buy_crypto {
    @include flex-container($direction: $flex_direction_column);
    @include background-properties($background_size_cover,
        $background_position_center,
        $background_repeat);
    background-image: url("/asset/connection_2.jpg");

    @include media-maxwidth($deskop_size) {
        margin-top: 70px;
        margin-bottom: $spacing_20;
    }
}

.section_buy_crypto_container {
    width: 100%;
    min-height: 80vh;
    margin: 40px 0;
    @include flex-container($flex_direction_row,
        $justify_content_space_around,
        $align_items_center,
        $flex_wrap);

    @include media-maxwidth($deskop_size) {
        min-height: 0;
    }
}

.section_buy_crypto_title {
    @include text-custom($font_size_2,
        $font_weight_medium,
        $neutral_white,
        $text_transform_capitalize,
        $letter_spacing_medium);
    text-align: $text_align_center;

    @include media-maxwidth($deskop_size) {
        padding: $spacing_20;
    }
}

.section_buy_crypto_container_advantage {
    @include flex-container($flex_direction_column);
    width: 40%;

    @include media-maxwidth($deskop_size) {
        width: 80%;
        text-align: $text_align_center;
    }

    .section_buy_crypto_container_advantage_text {
        @include text-custom($font_size_1_2,
            $font_weight_medium,
            $neutral_white,
            $text_transform_none,
            $letter_spacing_medium);
        line-height: 1.5;
        margin: $spacing_10;
    }

    .section_buy_crypto_container_advantage_link {
        @include border-properties($border_solid,
            $border_width_1,
            $primary-color-light-cyan,
            $border_radius_10);
        background: $background_transparent;
        text-align: $text_align_center;
        color: $neutral_white;
        transition: 0.5s;
        margin-top: $spacing_20;
        padding: $spacing_15 $spacing_20;

        &:hover {
            background: $primary_color_light_cyan;
            box-shadow: 0 0 10px $primary_color_bright_light_cyan;
        }
    }
}

/* section_buy_crypto card_bank */
.section_buy_crypto .article_card_bank {
    @include flex-container($flex_direction_column,
        $justify_content_space_between,
        $align_items_center);
    @include dimensions($width: 100%, $height: 250px);
    @include border-properties($border_solid,
        $border_width_2,
        $primary-color-light-cyan,
        $border_radius_20);
    background: $strong_black;

    @include media-maxwidth($deskop_size) {
        display: $display_none;
    }

    min-width: 370px;
    max-width: 500px;
    filter: brightness(120%);
    box-shadow: 0 0 5px #c5c5c5;
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        box-shadow: 0 0 5px #c5c5c5;
        transform: translateY(0);
    }

    50% {
        box-shadow: 0 0 15px #c5c5c5;
        transform: translateY(-10px);
    }

    100% {
        box-shadow: 0 0 5px #c5c5c5;
    }
}

/* header_card_bank */
.article_header_card_bank {
    @include flex-container($flex-direction_row, $justify_content_space_between);
    width: 90%;
    padding: $spacing_10;

    .article_header_card_bank_number {
        @include text-custom($font_size_1_1,
            $font_weight_normal,
            $neutral_white,
            $text_transform_none,
            $letter_spacing_strong);
        margin: $spacing_0 $spacing_15;
    }

    .article_header_card_bank_code {
        @include text-custom($font_size_1_1,
            $font_weight_normal,
            $neutral_white,
            $text_transform_none,
            $letter_spacing_strong);
        margin: $spacing_0 $spacing_15;
    }
}

.article_card_bank_image {
    @include flex-container($align_items_center);
    width: 100%;

    .article_card_bank_logo {
        padding-left: 110px;
    }
}

.article_footer_card_bank {
    @include flex-container($flex-direction_row, $justify_content_space_between);
    width: 90%;
    color: $neutral_white;
    letter-spacing: $letter_spacing_strong;

    .article_footer_card_bank_name {
        margin: $spacing_15;
        font-size: $font_size_1_1;
    }

    .article_footer_card_bank_title {
        margin: $spacing_15;
        font-size: $font_size_1_5;
    }
}

/* section_buy_crypto card_bank_end */

/* section_buy_crypto_end */

/* section_section_promotion_nft */
.section_promotion_nft {
    width: 100%;
    @include background-properties($background_size_cover,
        $background_position_center,
        $background_repeat);
    background-image: url("/asset/connection_3.jpg");

    .section_promotion_nft_container {
        @include flex-container($flex_direction_row,
            $justify_content_space_between,
            $align_items_center, $flex_wrap);
        padding: $spacing_0 5%;

        @include media-maxwidth($deskop_size) {
            width: 80%;
            margin: $spacing_0 $auto;
            justify-content: $justify_content_center;
        }
    }
}

.section_promotion_nft_container_promotion {
    @include media-maxwidth($deskop_size) {
        width: 100%;
    }

    width: 50%;
    @include flex-container($direction: $flex-direction_column, $justify: $justify_content_space_around);

    .section_promotion_nft_container_promotion_title {
        line-height: $line_height_1_4;

        @include media-maxwidth($deskop_size) {
            margin: $spacing_20 $auto;
        }

        @include text-custom($font_size_2,
            $font_weight_normal,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_medium);
        text-align: $text_align_center;
    }

    .section_promotion_nft_container_promotion_subtitle {
        margin-top: $spacing_20;

        @include media-maxwidth($deskop_size) {
            margin: $spacing_20 $auto;
            line-height: $line_height_1_4;
        }

        @include text-custom($font_size_1_2,
            $font_weight_medium,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_medium);
        text-align: $text_align_center;
    }

    .section_promotion_nft_container_promotion_paragraph {
        @include text-custom($font_size_1,
            $font_weight_normal,
            $neutral_white,
            $text_transform_none,
            $letter_spacing_medium);
        text-align: $text_align_center;
        padding: 25px 5%;
        line-height: $line_height_1_3;
        text-align: justify;
        text-justify: distribute;

        @include media-maxwidth($tablet_size) {
            text-justify: inherit;
            line-height: 2;
        }
    }

    .section_promotion_nft_container_promotion_link {
        width: 30%;
        @include border-properties($border_style: $border_solid,
            $border_width: $border_width_1,
            $border_color: $primary-color-light-cyan,
            $radius: $border_radius_10);
        background: $transparent;
        text-align: $text_align_center;
        color: $neutral_white;
        font-size: $font_size_1_2;
        margin-top: $spacing_20;
        padding: $spacing_15 $spacing_20;
        text-transform: $text-transform_capitalize;
        margin: $spacing_0 $auto;
        transition: 0.5s;

        &:hover {
            background: $primary-color-light-cyan;
        }
    }
}

/* container_timer */
.section_promotion_nft_container_promotion_timer {
    margin: $spacing_20 $auto;

    @include media-maxwidth($deskop_size) {
        margin: $spacing_20 $auto;
    }

    @include media-maxwidth($smartphone_size_530) {
        width: 100%;
        margin: $spacing_30 $auto;
    }

    .section_promotion_nft_container_promotion_timer_time {
        display: $display_flex;

        .section_promotion_nft_container_promotion_timer_time_box {
            width: 100px;
            height: 70px;
            margin: $spacing_0 $spacing_5;
            border-radius: $border_radius_10;

            @include media-maxwidth($smartphone_size) {
                padding: $spacing_0 $spacing_10;
            }

            @include text-custom($font_size_1_5,
                $font_weight_medium,
                $strong_black,
                $text_transform_none,
                $letter_spacing_medium);

            @include flex-container($direction: $flex-direction_row,
                $justify: $justify_content_center,
                $align: $align_items_center);

            &:nth-child(1) {
                background: $primary_color_bright_light_cyan;
                box-shadow: 0 0 10px $primary_color_bright_light_cyan;
            }

            &:nth-child(2) {
                background: $primary_color_pink;
                box-shadow: 0 0 10px $primary_color_pink;
            }

            &:nth-child(3) {
                background: $primary_color_light_cyan;
                box-shadow: 0 0 10px $primary_color_light_cyan;
            }

            &:nth-child(4) {
                background: $primary_color_bright_violet;
                box-shadow: 0 0 10px $primary_color_bright_violet;
            }
        }
    }
}

.section_promotion_nft_container_card_nft {
    @include border-properties($border_style: $border_solid,
        $border_width: $border_width_4,
        $border_color: $neutral_white,
        $radius: $border_radius_15);
    animation: move 3s linear infinite;

    @include media-maxwidth($deskop_size) {
        margin: 70px $auto
    }

    @include media-maxwidth($smartphone_size_530) {
        width: 90%;
        height: 350px;
        margin: $spacing_25 $auto;

    }

    @include media-maxwidth($smartphone_size) {
        height: 90%;
    }

    .section_promotion_nft_container_card_nft_image {
        z-index: -1;
        border-radius: $border_radius_10;
        box-shadow: 0 0 20px $primary_color_bright_light_cyan;

        @include media-maxwidth($deskop_size) {
            width: 100%;
            height: 100%;
        }

        @include media-maxwidth($smartphone_size) {
            height: 90%;
        }
    }
}

@keyframes move {
    0% {
        transform: translateY(0px);
        box-shadow: 0 0 30px $primary_color_bright_light_cyan;
    }

    50% {
        transform: translateY(10px);
        box-shadow: 0 0 40px $primary_color_bright_light_cyan;
    }

    100% {
        transform: translateY(0px);
    }
}

/* container_timer_end */
/* section_section_promotion_nft */

/* section_service_company */
.section_service_company {
    @include background-properties($background_size_cover,
        $background_position_center,
        $background_repeat);
    background-image: url("/asset/connection_4.jpg");
    @include flex-container($direction: $flex-direction_column,
        $justify: $justify_content_center,
        $align: $align_items_center);
    width: 100%;
    min-height: 80vh;

    @include media-maxwidth($deskop_size) {
        min-height: 0;
    }

    .section_service_company_container {
        margin: $spacing_0 5%;
        width: 90%;

        .section_service_company_container_header {
            @include flex-container($direction: $flex-direction_row,
                $justify: $justify_content_space_between,
                $align: $align_items_center);

            .section_service_company_container_header_title {
                @include text-custom($font_size_2,
                    $font_weight_normal,
                    $neutral_white,
                    $text_transform_none,
                    $letter_spacing_medium);

                @include media-maxwidth($deskop_size) {
                    text-align: $text_align_center;
                }

                &:first-letter {
                    text-transform: $text-transform_capitalize;
                }
            }

            .section_service_company_container_header_menu {
                position: $position_relative;
                list-style: $list_style_none;
                display: $display_flex;
                margin: $spacing_30 $spacing_0;

                @include media-maxwidth($tablet_size) {
                    flex-wrap: $flex_wrap;
                }
            }

            .section_service_company_container_header_menu_item {
                @include media-maxwidth($tablet_size) {
                    margin: $spacing_10 $auto;
                }
            }

            .section_service_company_container_header_menu_link {
                position: $position_relative;
                display: $display_block;
                margin: $spacing_0 $spacing_5;
                width: 100px;
                height: 30px;
                line-height: 30px;
                @include text-custom($font_size_1_1,
                    $font_weight_normal,
                    $neutral_white,
                    $text_transform_none,
                    $letter_spacing_strong);
                @include border-properties($border_style: $border_solid, $border_width: $border_width_2, $border_color: $primary_color_light_cyan, $radius: $border_radius_10);
                text-align: $text_align_center;
                transition: all .5s;

                span {
                    position: $position_relative;
                    z-index: 2;
                }

                &::after {
                    position: $position_absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background: $primary_color_light_cyan;
                    transition: all .35s;
                    border-radius: $border_radius_10;
                }

                &:hover {
                    color: $neutral_white;
                    box-shadow: 0 0 50px $primary-color-light-cyan;
                    background: $primary-color-light-cyan;
                }

                &:hover:after {
                    width: 100%;
                }
            }
        }

    }

    /* switch container */
    .section_service_swicth_container {
        display: $display_flex;
        justify-content: $justify_content_center;
        margin: 5%;
        width: 90%;

        .section_service_swicth_container_article {
            @include media-minwidth($deskop_size) {
                min-width: 1000px;
            }

            width: 1100px;
            height: 400px;
            display: $display_flex;
            @include border-properties($border_style: $border_solid,
                $border_width: $border_width_1,
                $border_color: $neutral_white,
                $radius: $border_radius_10);
            box-shadow: 0 0 20px $neutral_white;
            background: $strong_black;
            z-index: 1;

            @include media-maxwidth($deskop_size) {
                flex-direction: $flex_direction_column;
                width: 90%;
                height: $auto;
            }

            .section_service_swicth_container_article_image {
                border-top-left-radius: $border_radius_10;
                border-bottom-left-radius: $border_radius_10;
                z-index: -1;

                @include media-maxwidth($smartphone_size) {
                    border-top-right-radius: $border_radius_30;
                    border-top-left-radius: $border_radius_30;
                }

                @include media-maxwidth($deskop_size) {
                    border-top-right-radius: $border_radius_30;
                    border-top-left-radius: $border_radius_30;
                    border-bottom-left-radius: 0;
                }
            }
        }

        .section_service_swicth_container_article_description {
            @include flex-container($direction: $flex_direction_column,
                $justify: $justify_content_space_around,
                $align: $align_items_center);
            padding: $spacing_20;

            .section_service_description_hidden {
                @include media-maxwidth($deskop_size) {
                    visibility: $visibility_hidden;
                    display: $display_none;
                }
            }

            .section_service_swicth_container_article_description_title {
                @include text-custom($font_size_2,
                    $font_weight_medium,
                    $primary_color_bright_light_cyan,
                    $text_transform_none,
                    $letter_spacing_medium);
                text-align: $text_align_center;

                @include media-maxwidth($deskop_size) {
                    text-align: $text_align_center;
                    padding: $spacing_20 $spacing_0;
                }

                @include media-maxwidth($smartphone_size) {
                    font-size: 22px;
                    line-height: $line_height_1_3;
                }
            }

            .section_service_swicth_container_article_description_paragraph {
                @include text-custom($font_size_1_2,
                    $font_weight_normal,
                    $neutral_white,
                    $text_transform_none,
                    $letter_spacing_light);
                padding: $spacing_10 10%;
                text-align: justify;
                text-justify: distribute;

                @include media-maxwidth($deskop_size) {
                    padding: $spacing_5 $spacing_0;
                    text-align: $text_align_center;
                    line-height: $line_height_1_4;
                }

                @include media-maxwidth($smartphone_size_530) {
                    display: $display_none;
                }

                @include media-maxwidth($smartphone_size) {
                    display: $display_none;
                }
            }

            .section_service_swicth_container_article_description_link {
                @include text-custom($font_size_1_2,
                    $font_weight_normal,
                    $neutral_white,
                    $text_transform_none,
                    $letter_spacing_medium);
                text-decoration: underline;
                transition: 0.5s;

                @include media-maxwidth($deskop_size) {
                    padding: $spacing_25 $spacing_0;
                }

                @include media-maxwidth($smartphone_size) {
                    text-align: $text_align_center;
                    line-height: $line_height_1_4;
                }

                &:hover {
                    color: $primary_color_bright_light_cyan;
                }
            }
        }
    }

    /* switch container_end */
}

/* section_service_company_end */

/* section_most_traded_cryptocurrencies */
.section_most_traded_cryptocurrencies {
    min-height: 40vh;
    padding: $spacing_0 5%;
    @include background-properties($background_size_cover,
        $background_position_center,
        $background_repeat);
    background-image: url("/asset/connection_3.jpg");

    @include media-maxwidth($tablet_size) {
        display: $display_none;
    }

    .section_most_traded_cryptocurrencies_title {
        @include text-custom($font_size_2,
            $font_weight_medium,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_strong);
        text-align: $text_align_center;
        margin: $spacing_20 $spacing_0;
    }

    display: $display_flex;
    flex-direction: $flex_direction_column;
}

.section_most_traded_cryptocurrencies_container {
    background: $strong_black;
    border-radius: $border_radius_25;
    border: $border_solid $border-width_2 $primary_color_bright_light_cyan;
    box-shadow: 0 0 10px $primary-color-light-cyan;
    @include flex-container($flex_direction_row,
        $justify_content_space_around,
        $align_items_center);
    margin: $spacing_20 $auto;
    width: 900px;
    height: 500px;
    padding: $spacing_20;

    @include media-maxwidth($deskop_size) {
        width: 70%;
        height: auto;
    }

    .section_most_traded_cryptocurrencies_container_legend_title {
        margin: $spacing_20;
        font-weight: $font_weight_normal;
        @include text-custom($font_size_1_2,
            $font_weight_strong,
            $primary_color_bright_light_cyan,
            $text_transform_capitalize,
            $letter_spacing_medium);
        text-align: $text_align_left;

        @include media-maxwidth($deskop_size) {
            text-align: $text_align_center;
        }
    }

    .section_most_traded_cryptocurrencies_container_legend_list {
        display: $display_flex;
        flex-direction: $flex_direction_column;

        @include media-maxwidth($deskop_size) {
            flex-direction: $flex-direction_row;
            flex-wrap: $flex_wrap;
            justify-content: $justify_content_center;
        }

        .section_most_traded_cryptocurrencies_container_legend_item {
            margin: $spacing_20;
            font-weight: $font_weight_normal;
            @include text-custom($font_size_1_2,
                $font_weight_normal,
                $neutral_white,
                $text_transform_capitalize,
                $letter_spacing_medium);
            text-align: $text_align_left;

            @include media-maxwidth($deskop_size) {
                text-align: $text_align_center;
                line-height: $line_height_1_4;
            }
        }
    }
}

/* section_most_traded_cryptocurrencies_end */

/* section_presentation_team */
.section_presentation_team {
    width: 100%;
    margin: $spacing_0 $auto;
    padding: $spacing_20 $spacing_0;
    @include background-properties($background_size_cover,
        $background_position_center,
        $background_repeat);
    background-image: url("/asset/connection_4.jpg");

    @include min-width-530-1024 {
        display: $display_none;
    }
}

.section_presentation_team_title {
    @include text-custom($font_size_2,
        $font_weight_medium,
        $neutral_white,
        $text_transform_capitalize,
        $letter_spacing_strong);
    margin: $spacing_20 $spacing_0;
    text-align: $text_align_center;

    @include media-maxwidth($deskop_size) {
        margin: $spacing_15;
    }
}

/* swiper */
.swiper {
    width: 80%;
    margin: $spacing_0 $auto;
}

/* swiper_end */

/* card_team_swiper */
.card {
    .card_container {
        margin: $spacing_5 $spacing_10;
        outline: $border_solid $border_width_3 $neutral_white;
        border-radius: $border_radius_20;
        height: 400px;
        max-width: 400px;
        background: $strong_black;

        .container_image {
            @include flex-container($direction: $flex_direction_row,
                $justify: $justify_content_center,
                $align: $align_items_center);
            height: 170px;
            background: $primary-color-light-cyan;
            border-top-left-radius: $border_radius_20;
            border-top-right-radius: $border_radius_20;
        }

        .container_description {
            padding: $spacing_15 $spacing_20;
            height: 150px;
        }

        .section_presentation_team_container_swiper_article_container_description_title {
            @include text-custom($font_size_1,
                $font_weight_medium,
                $neutral_white,
                $text_transform_capitalize,
                $letter_spacing_strong);
            text-align: $text_align_center;
            padding: $spacing_10 $spacing_0;
        }

        .section_presentation_team_container_swiper_article_container_description_subtitle {
            @include text-custom($font_size_1,
                $font_weight_medium,
                $primary-color-light-cyan,
                $text_transform_capitalize,
                $letter_spacing_medium);
            text-align: $text_align_center;
        }

        .section_presentation_team_container_swiper_article_container_description_paragraph {
            text-align: $text_align_center;
            letter-spacing: $letter_spacing_light;
            line-height: $line_height_1_2;
            padding: $spacing_10 $spacing_0;
            color: $neutral_white;
        }

        .container_btn {
            width: 200px;
            text-align: $text_align_center;
            margin: $spacing_10 $auto;
        }

        .section_presentation_team_container_swiper_article_container_description_contioner_btn_link {
            padding: 7px 14px;
            background: $primary-color-light-cyan;
            border-radius: $border_radius_10;
            color: $neutral_white;
            transition: 0.3s;

            &:hover {
                color: $strong_black;
            }
        }
    }
}

/* card_team_swiper */

/* swiper_slide_button */
.swiper-button-next::after,
.swiper-button-prev::after {
    color: $neutral_white;

    @include media-maxwidth($smartphone_size_530) {
        display: $display_none;
    }
}

/* swiper_slide_button_end */
/* section_presentation_team_end */

/* section_crypto_list */
.section_crypto_list {
    @include flex-container($flex_direction_column,
        $justify_content_space_evenly,
        $align_items_center);
    @include background-properties($background_size_cover,
        $background_position_center,
        $background_repeat);
    background-image: url("/asset/connection_3.jpg");
    margin: $spacing_30 $spacing_0;
    padding: $spacing_40 $spacing_0;

    @include media-maxwidth($deskop_size) {
        padding: $spacing_0;
        margin: $spacing_0;
        min-height: 0;
    }
}

.section_crypto_list .section_crypto_list_scroll {
    @include flex-container($flex_direction_column);
    position: $position_relative;
    width: 700px;
    overflow: $overflow_hidden;
    margin-top: $spacing_40;
    mask-image: linear-gradient(90deg,
            $transparent,
            $neutral_white,
            $neutral_white,
            $transparent);

    @include media-maxwidth($tablet_size) {
        width: 80%;
        margin: $spacing_30 $spacing_0;
    }
}

// line animate crypto animation
.section_crypto_list_scroll .section_crypto_list_scroll_line {
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
}

.section_crypto_list_scroll .section_crypto_list_scroll_line:nth-child(2) {
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}

// line animate crypto animation_end

.section_crypto_list_scroll .section_crypto_list_scroll_line span {
    display: $display_inline_flex;
    @include text-custom($font_size_1_1,
        $font_weight_normal,
        $neutral_white,
        $text_transform_none,
        $letter_spacing_medium);
    padding: $spacing_10 $spacing_20;
    background: $primary_color_light_cyan;
    box-shadow: 0 0 10px $primary_color_light_cyan;
    border-radius: $border_radius_5;
    margin: $spacing_10;
    transition: 0.5s;
}

@keyframes animate {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-25%);
        /* change the distance of elements */
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-50%);
        /* change the distance of elements */
    }

    100% {
        transform: translateX(0%);
    }
}

.section_crypto_list_card {
    @include flex-container($justify_content_center);
    width: 100%;

    @include media-maxwidth($smartphone_size_530) {
        margin: $spacing_40 $spacing_0;
    }

    @include media-maxwidth($tablet_size) {
        flex-basis: calc(40% - 20px);
        max-width: 550px
    }

    .section_crypto_list_card {
        @include flex-container($flex_direction_column,
            $justify_content_center,
            $align_items_center);
        @include dimensions($width: 150px, $height: 100px);
        background: $neutral_white;
        border-radius: $border_radius_10;
        margin: $spacing_10;

        &:nth-child(1) {
            background: $primary_color_bright_light_cyan;
            box-shadow: 0 0 10px $primary_color_bright_light_cyan;
        }

        &:nth-child(2) {
            background: $primary_color_bright_blue;
            box-shadow: 0 0 10px $primary_color_bright_blue;
        }

        &:nth-child(3) {
            background: $primary_color_bright_violet;
            box-shadow: 0 0 10px $primary_color_bright_violet;
        }

        &:nth-child(4) {
            background: $primary_color_pink;
            box-shadow: 0 0 10px $primary_color_pink;
        }

        .section_crypto_list_card_title {
            @include text-custom($font_size_1_5,
                $font_weight_medium,
                $strong_black,
                $text_transform_capitalize,
                $letter_spacing_medium);
        }
    }
}

/* section_crypto_list_end */

/* line */
.line {
    background: linear-gradient(270deg,
            $strong_black,
            $strong_black,
            $primary_color_bright_light_cyan,
            $primary_color_bright_light_cyan,
            $primary-color-light-cyan,
            $primary_color_bright_light_cyan,
            $primary-color-light-cyan,
            $primary_color_bright_light_cyan,
            $primary_color_bright_light_cyan,
            $strong_black,
            $strong_black);
    height: 1px;
    opacity: 1;
    border-radius: $border_radius_30;
    border: 0;
    margin: $spacing_30;

    @include media-maxwidth($tablet_size) {
        margin: $spacing_40;
    }
}

/* line_end */

/* footer */
.footer {
    @include flex-container($direction: $flex_direction_column,
        $justify: $justify_content_space_between,
        $align: $align_items_center);
    min-height: 40vh;
    padding: $spacing_0 5%;
    margin: $spacing_0 $auto;

    @include media-maxwidth($tablet_size) {
        margin: $spacing_0;
        display: $display_block;
    }
}

.footer_container {
    @include flex-container($direction: $flex_direction_column,
        $justify: $justify_content_space_between);
    margin: $spacing_25 $auto;
    height: 350px;

    @include media-maxwidth($tablet_size) {
        display: $display_block
    }
}

.footer_container_figure {
    display: $display_flex;
    justify-content: $justify_content_center;
    margin: $spacing_0 $auto;
    width: 300px;

    @include media-maxwidth($tablet_size) {
        margin: $spacing_25 $auto;
    }

    .footer_container_figure_link {
        cursor: $cursor_pointer;
        @include flex-container($direction: $flex_direction_row,
            $justify: $justify_content_center,
            $align: $align_items_center);
        font-size: $font_size_1_2;
        @include text-gradient(linear-gradient(35deg, $primary_color_bright_light_cyan, $primary_color_light_cyan), text, transparent);
        @include text-custom($font_size: $font_size_1_2,
            $font_weight: $font_weight_medium,
            $text_color: $neutral_white,
            $text_transform: $text_transform_none,
            $letter_spacing: $letter_spacing_strong);
    }

    .footer_container_figure_link_figcaption {
        padding: $spacing_10;

    }

    .footer_container_figure_link_image {
        animation: rotate 3s linear infinite;
    }
}

.footer_container_info {
    margin: $spacing_0 $auto;

    .footer_container_info_newsletter {
        text-align: $text_align_center;

        .footer_container_info_newsletter_input {
            width: 300px;
            height: 50px;
            padding: $spacing_0$spacing_10;
            border: $border_none;
            border-left: $border_solid $border_width_1 rgba(128, 128, 128, 0.8);
            border-bottom: $border_solid $border_width_1 rgba(128, 128, 128, 0.8);
            outline: $outline_none;
            background: $transparent;
            color: $primary_color_bright_light_cyan;
            transition: 0.5s;

            &:hover {
                border-left: $border_solid $border_width_1 $primary_color_bright_light_cyan;
                border-bottom: $border_solid $border_width_1 $primary_color_bright_light_cyan;
            }

            &::placeholder {
                @include text-custom(12px,
                    $font_weight_medium,
                    $neutral_white,
                    $text_transform_capitalize,
                    $letter_spacing_medium);
            }
        }

        .bx-right-arrow-alt {
            color: $secondary_color_gray;
            font-size: $font_size_1_2;
            position: $position_relative;
            cursor: $cursor_pointer;
            right: 30px;

            @include media-maxwidth($smartphone_size) {
                display: $display_none;
            }
        }
    }
}

.footer_container_company_nav_bar {
    display: $display_flex;
    flex-direction: $flex_direction_column;

    .footer_container_company_nav_bar_list {
        display: $display_flex;
        margin: $spacing_20 $auto;

        @include media-maxwidth($tablet_size) {
            display: $display_block;
        }

        .footer_container_company_nav_bar_list_items {
            display: $display_flex;
            margin: $spacing_0 $spacing_20;
            font-size: $font_size_1_2;
            text-align: $text_align_center;


            @include media-maxwidth($tablet_size) {
                display: $display_block;
                text-align: $text_align_center;
                margin-top: $spacing_20;
            }

            .footer_container_company_nav_bar_list_items_link {
                @include text-custom($font_size_1_1,
                    $font_weight_normal,
                    $neutral_white,
                    $text_transform_none,
                    $letter_spacing_medium);
                line-height: $line_height_1_2;

                &:hover {
                    color: $primary_color_light_cyan;
                }
            }
        }
    }
}

/* footer_container_media */
.footer_container_media {
    display: $display_flex;
    margin: $spacing_0 $auto;

    @include media-maxwidth($tablet_size) {
        margin: $spacing_20 $auto;
        flex-wrap: $flex_wrap;
        justify-content: $justify_content_center;
    }
}

/* footer_container_media_end */

.footer_container_media li {
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
}

/* footer_media_link */
.footer_container_media_link {
    @include flex-container($direction: $flex-direction_row, $justify: $justify_content_center, $align: $align_items_center);
    @include dimensions($width: $spacing_40, $height: $spacing_40);
    border-radius: 100%;
    margin: $spacing_0 $spacing_15;
    background: $primary_color_light_cyan;
    border: $border_solid $border_width_1 $neutral_white;
    color: $neutral_white;
    transition: 0.3s;

    &:hover {
        background: $neutral_white;
        color: $strong_black;
    }

    i {
        &:hover {
            color: $strong_black;
        }
    }
}

/* footer_media_link_end */
/* footer_end */

/* footer_pop_pup_container */
.footer_pop_up_active {
    display: $display_block;
}

.footer_pop_up {
    display: $display_none;
}

/* footer_pop_up_container_end */

/* pop_up_newsletter */
.footer_pop_up_newsletter {
    @include flex-container($direction: $flex-direction_column,
        $justify: $justify_content_space_around,
        $align: $align_items_center);

    position: $position_fixed;
    @include border-properties($border_style: $border_solid,
        $border_width: $border_width_1,
        $border_color: $neutral_white,
        $radius: $border_radius_20);
    background: $primary_color_bright_blue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 300px;
    height: 300px;
    z-index: 7000;
}

.footer_pop_up_newsletter_check {
    border-radius: 50%;
    padding: $spacing_20;
    background: $neutral_white;
    font-size: $font_size_1_5;
}

.footer_pop_up_newsletter_container {
    @include flex-container($direction: $flex-direction_column,
        $justify: $justify_content_center,
        $align: $align_items_center);
    margin: $spacing_0 $auto;
    text-align: $text_align_center;
    color: $neutral_white;
    font-weight: $font_weight_normal;
    line-height: $line_height_1_4;

    .footer_pop_up_newsletter_container_description {
        letter-spacing: $letter_spacing_light;
        padding: $spacing_5 $spacing_0;
    }

    .footer_pop_up_newsletter_container_title {
        text-transform: $text-transform_capitalize;
        letter-spacing: $letter_spacing_medium;
        font-weight: $font_weight_strong;
    }
}

/* footer_pop_up_link */
.footer_pop_up_newsletter_link {
    @include flex-container($direction: $flex-direction_row,
        $justify: $justify_content_center,
        $align: $align_items_center);
    width: 80%;
    height: 35px;
    background: $neutral_white;
    border: $border_solid $border_width_1 $neutral_white;
    border-radius: $border_radius_10;
    color: $strong_black;
    transition: 0.2s;
    z-index: 100;

    &:hover {
        background: $strong_black;
        color: $neutral_white;
    }
}

/* footer_pop_up_link_end */

/* overlay */
.overlay_acive {
    display: $display_block;
}

.overlay {
    display: $display_none;
    position: $position_fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* overlay_end */
/* pop_up_newsletter_end */