// reset
@import 'reset';

// variables
@import 'variables';

// mixins
@import 'mixins';

.reactive_additional_information_section_btn {
    position: fixed;
    right: 500px;
    bottom: 6%;
    left: 3%;
    z-index: 250;
    width: 40px;
    cursor: pointer;

    .bxs-radiation {
        padding: 5px;
        border-radius: 50%;
        background: $neutral_white;
        color: $primary-color-light-cyan;
        font-size: 25px;
        animation: rotateBtn 5s linear infinite;
        box-shadow: 0 0 10px $primary-color-light-cyan;
    }
}

@keyframes rotateBtn {
    100% {
        transform: rotate(360deg);
    }
}

.reactive_additional_information_section {
    position: fixed;
    top: 2%;
    min-width: calc(300px);
    width: 20%;
    right: -350px;
    min-height: 95%;
    border-radius: 20px;
    background: $primary-color-light-cyan;
    box-shadow: 0 0 10px $primary-color-light-cyan;
    color: white;
    z-index: 50;
    transition: 1s;
    box-shadow: inset 1.21px 1.59px 2.80px -0.35px rgba(0, 0, 0, 0.15),
        inset -1.82px -2.39px 2.80px -0.35px rgba(0, 0, 0, 0.3),
        3.63px 4.77px 2.10px -1.05px rgba(0, 0, 0, 0.6);

    &.active_section_reactive {
        right: 0px;
    }

    .reactive_additional_information_section_title {
        @include text-custom($font_size: $font_size_1_2,
            $font_weight: $font_weight_medium,
            $text_color: $neutral_white,
            $text_transform: $text_transform_capitalize,
            $letter_spacing: $letter_spacing_light);
        text-align: center;
        margin: 10px 0;
    }
}

.reactive_additional_information_section_article {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 10px auto;
    height: auto;
    border: solid 1px $neutral_white;
    background: black;
    border-radius: $border_radius_20;

    .reactive_additional_information_section_article_title {
        text-align: center;
        margin: 10px 0;
    }

    .reactive_additional_information_section_article_link {
        width: 40%;
        padding: 8px 15px;
        background: white;
        border-radius: $border_radius_20;
        margin: 10px auto;
        text-align: center;
        color: $strong_black;
        border: solid 1px $strong_black;
        transition: 0.2s;

        &:hover {
            color: $neutral_white;
            background: $primary-color-light-cyan;
            box-shadow: inset 1.21px 1.59px 2.80px -0.35px rgba(0, 0, 0, 0.15),
                inset -1.82px -2.39px 2.80px -0.35px rgba(0, 0, 0, 0.3),
                3.63px 4.77px 2.10px -1.05px rgba(0, 0, 0, 0.6);
        }
    }
}

body {
    @include dimensions($width: 100%, $height: auto);
    background: #04060a;
    font-size: 16px;
    font-family: Helvetica;
    overflow-x: hidden;
}

/* header */

header {
    @include media-minwidth($smartphone_size) {
        margin: 0 20px;
    }

    @include media-maxwidth($smartphone_size) {
        padding: 5%;
    }

    @include flex-container($direction: $flex_direction_row,
        $justify: $justify_content_space_around,
        $align: $align_items_center);
    padding-top: 35px;

    .header_logo {
        cursor: $cursor_pointer;
        @include flex-container($direction: $flex_direction_row,
            $justify: $justify_content_center,
            $align: $align_items_center);

        .header_logo_image {
            animation: rotate 3s linear infinite;
        }
    }

    .header_logo_title {
        @include media-maxwidth($tablet_size) {
            visibility: hidden;
        }

        @include text-custom($font_size: $font_size_1_2,
            $font_weight: $font_weight_medium,
            $text_color: $neutral_white,
            $text_transform: $text_transform_none,
            $letter_spacing: $letter_spacing_strong);
        @include text-gradient(linear-gradient(35deg, $primary_color_bright_light_cyan, $primary_color_light_cyan), text, transparent);
        margin-left: 10px;
    }

    .header_nav_bar_link {
        @include media-maxwidth($deskop_size) {
            display: none;
        }

        @include text-custom($font_size-1,
            $font_weight_medium,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_medium);
        transition: color 0.5s;
        margin-right: 18px;

        &:hover {
            color: $primary-color-light-cyan;
        }
    }

    .header_box_button_link {
        @include media-maxwidth($deskop_size) {
            display: none;
        }

        @include text-custom($font_size: $font_size_1,
            $font_weight: $font_weight_medium,
            $text_color: $neutral_white,
            $text_transform: $text_transform_capitalize,
            $letter_spacing: $letter_spacing_light);
        padding: 8px 15px;
        margin: 5px;
        @include border-properties($border_solid,
            $border_width_1,
            $primary-color-light-cyan,
            $border_radius_5);
        transition: 0.5s;

        &:hover {
            background: $primary_color_light_cyan;
        }
    }

    .active {
        background: $primary-color-light-cyan;
        transition: 0.5s;

        &:hover {
            box-shadow: 0px 0px 50px $primary_color_light_cyan;
        }
    }
}

.header_nav_bar_link {
    position: relative;

    &::after {
        @include dimensions($width: 100%, $height: 2px);
        content: "";
        position: absolute;
        left: 0;
        bottom: -9px;
        background: $primary_color_light_cyan;
        border-radius: $border_radius_40;
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .2s;
    }
}

.header_nav_bar_link:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

/* Animation rotate logo */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(220deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

/* Animation_rotate_logo */

/* burger_menu */

.header_burger_menu {
    @include media-maxwidth($deskop_size) {
        display: block;
    }

    @include dimensions($width: auto, $height: auto);
    cursor: $cursor_pointer;
    display: none;

    .bar {
        @include dimensions($width: 35px, $height: 2px);
        background: $neutral_white;
        margin: 10px;

        &:nth-child(2) {
            width: 15px;
            transition: width 0.5s ease-in-out;
        }
    }

    &:hover {
        .bar {
            transition: background-color 0.5s;
            background: $primary_color_light_cyan;
            transition: width 0.5s ease-in-out;
        }

        .bar:nth-child(2) {
            width: 35px;
        }
    }
}

/* burger_menu_end */

/* nav_bar_dropdown */
.header_nav_bar_drodpdown {
    cursor: $cursor_pointer;
    display: inline-block;
}

.header_nav_bar_drodpdown_container {
    @include dimensions($width: 40%, $height: auto);
    @include flex-container($flex_direction_row,
        $justify_content_space_around,
        $align_items_center);
    @include border-properties($border_solid,
        $border_width_3,
        $neutral_white,
        $border_radius_10);
    background: $primary-color-light-cyan;
    display: none;
    padding: 10px;
    max-width: 400px;
    position: absolute;
    margin-top: 20px;
    left: 52%;
    z-index: 10;

    .header_nav_bar_drodpdown_container_column {
        @include flex-container($flex_direction_row,
            $justify_content_space_between,
            $flex_wrap);
        width: 80%;
    }

    .header_nav_bar_drodpdown_container_link {
        color: $strong_black;
        font-size: $font_size_1_1;
        text-transform: $text-transform_capitalize;
        padding: 10px;
        transition: 0.3s;
        width: 40px;

        &:hover {
            color: $neutral_white;
        }
    }
}

#header_nav_bar_dropdown_scrolling_menu {
    @include dimensions($width: 100%, $height: 100%);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: $strong_black;
    z-index: 50;

    .header_nav_bar_dropdown_scrolling_menu_link {
        @include text-custom($font_size_1_2,
            $font_weight_medium,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_medium);
        @include flex-container($flex_direction_row, $justify_content_space_between);
        width: 100%;
        padding: 20px;
        position: relative;
        left: 5%;
        border-top: solid 2px $neutral_white;

        &:hover {
            background: $primary_color_light_cyan;
        }
    }
}

.header_nav_bar_dropdodwn_scrolling_menu_header {
    @include dimensions($width: auto, $height: 20%);
    @include flex-container($flex-direction_row,
        $justify_content_space_between,
        $align_items_center);
    margin: 0 5%;
    padding: 10px;
}

.header_nav_bar_dropdown_burger_menu_header_cross {
    @include dimensions($width: 32px, $height: 32px);
    position: relative;
    cursor: $cursor_pointer;

    &:before,
    &:after {
        @include dimensions($width: 2px, $height: 33px);
        background: $neutral_white;
        position: absolute;
        content: ' ';
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}

/* nav_bar_dropdown_end */

/* header_end */

.section_presentation {
    @include media-minwidth($smartphone_size) {
        margin-top: 30px;
    }

    @include media-maxwidth($tablet_size) {
        margin-top: 15px;
    }

    @include flex-container($flex_direction_column,
        $justify_content_space_evenly,
        $align_items_center);

    @include background-properties($background_size_cover,
        $background_position_center,
        $background_no_repeat);
    background-image: url("/asset/connection.jpg");
    min-height: 100vh;
}

.section_presentation_introduction {
    @include media-maxwidth($smartphone_size) {
        margin: 20px 0;
    }

    width: 100%;
    margin: 0 10px;


    .section_presentation_introduction_title {
        @include media-maxwidth($tablet_size) {
            margin: 5%;
        }

        @include text-custom($font_size_2_5,
            $font_weight_medium,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_strong);
        text-align: $text_align_center;
    }

    .section_presentation_introduction_subtitle {
        @include text-custom($font_size_1_5,
            $font_weight_medium,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_strong);
        width: 70%;
        margin: 35px auto;
        text-align: $text_align_center;
        opacity: 0.7;
        line-height: 1.5;

        .subtitle_strong {
            color: $primary_color_light_cyan;
        }
    }
}

.section_presentation_list_advantage {
    @include media-minwidth($smartphone_size) {
        margin-right: 20px;
    }

    ;
    @include border-properties($border_solid,
        $border_width_2,
        $neutral_white,
        $border_radius_5);
    background: $primary-color-light-cyan;
    padding: 10px;
    width: 40%;
    min-width: 330px;
    box-shadow: 0 0 10px $primary-color-light-cyan;

    .section_presentation_list_advantage_menu_item {
        padding: 10px;

        i {
            padding-right: 4px;
            color: $neutral_white;
        }
    }
}

.section_presentation_link {
    margin-top: 40px;
}

.section_presentation_link_download_app {
    @include text-custom($font_size_1_2,
        $font_weight_medium,
        $neutral_white,
        $text_transform_capitalize,
        $letter_spacing_strong);
    text-transform: $text-transform_capitalize;

    @include border-properties($border_solid,
        $border_width_1,
        $primary-color-light-cyan,
        $border_radius_25);
    padding: 15px 25px;
    transition: 0.3s;

    &:hover {
        background: $primary-color-light-cyan;
        box-shadow: 0 0 10px $primary_color_bright_light_cyan;
    }
}

/* section_exchange_presentation_end */

/* section_buy_crypto */

.section_buy_crypto {
    @include flex-container($direction: $flex_direction_column);
    @include background-properties($background_size_cover,
        $background_position_center,
        $background_repeat);
    background-image: url("/asset/connection_2.jpg");

    @include media-maxwidth($deskop_size) {
        margin-top: 70px;
        margin-bottom: 20px;
    }
}

.section_buy_crypto_container {
    @include flex-container($flex_direction_row,
        $justify_content_space_around,
        $align_items_center,
        $flex_wrap);

    @include media-maxwidth($deskop_size) {
        min-height: 60vh;
    }

    min-height: 80vh;
    width: 100%;
}

.section_buy_crypto_title {
    @include text-custom($font_size_2,
        $font_weight_medium,
        $neutral_white,
        $text_transform_capitalize,
        $letter_spacing_medium);
    text-align: $text_align_center;

    @include media-maxwidth($deskop_size) {
        padding: 20px;
    }
}

.section_buy_crypto_container_advantage {
    @include flex-container($flex_direction_column);

    @include media-maxwidth($deskop_size) {
        width: 80%;
        text-align: center;
    }

    width: 40%;


    .section_buy_crypto_container_advantage_text {
        @include text-custom($font_size_1_2,
            $font_weight_medium,
            $neutral_white,
            $text_transform_none,
            $letter_spacing_medium);
        line-height: 1.5;
        margin: 10px;
    }

    .section_buy_crypto_container_advantage_link {
        @include border-properties($border_solid,
            $border_width_1,
            $primary-color-light-cyan,
            $border_radius_10);
        background: $background_transparent;
        text-align: $text_align_center;
        color: $neutral_white;
        transition: 0.5s;
        margin-top: 20px;
        padding: 15px 20px;

        &:hover {
            background: $primary_color_light_cyan;
            box-shadow: 0 0 10px $primary_color_bright_light_cyan;
        }
    }
}

/* section_buy_crypto card_bank */

.section_buy_crypto .article_card_bank {
    @include flex-container($flex_direction_column,
        $justify_content_space_between,
        $align_items_center);
    @include dimensions($width: 100%, $height: 250px);
    @include border-properties($border_solid,
        $border_width_2,
        $primary-color-light-cyan,
        $border_radius_20);
    background: $strong_black;

    @include media-maxwidth($deskop_size) {
        display: none;
    }

    min-width: 370px;
    max-width: 500px;
    filter: brightness(120%);
    box-shadow: 0 0 5px #c5c5c5;
    animation: move 2s linear infinite;
}

@keyframes move {
    0% {
        box-shadow: 0 0 5px #c5c5c5;
        transform: translateY(0);
    }

    50% {
        box-shadow: 0 0 15px #c5c5c5;
        transform: translateY(-10px);
    }

    100% {
        box-shadow: 0 0 5px #c5c5c5;
    }
}

.article_header_card_bank {
    @include flex-container($flex-direction_row, $justify_content_space_between);
    width: 90%;
    padding: 10px;

    .article_header_card_bank_number {
        @include text-custom($font_size_1_1,
            $font_weight_normal,
            $neutral_white,
            $text_transform_none,
            $letter_spacing_strong);
        margin: 0 15px;
    }

    .article_header_card_bank_code {
        @include text-custom($font_size_1_1,
            $font_weight_normal,
            $neutral_white,
            $text_transform_none,
            $letter_spacing_strong);
        margin: 0 15px;
    }
}

.article_card_bank_image {
    @include flex-container($align_items_center);
    width: 100%;

    .article_card_bank_logo {
        padding-left: 110px;
    }
}

.article_footer_card_bank {
    @include flex-container($flex-direction_row, $justify_content_space_between);
    width: 90%;
    color: $neutral_white;
    letter-spacing: $letter_spacing_strong;

    .article_footer_card_bank_name {
        margin: 15px;
        font-size: $font_size_1_1;
    }

    .article_footer_card_bank_title {
        margin: 15px;
        font-size: $font_size_1_5;
    }
}

/* section_buy_crypto card_bank_end */

/* section_buy_crypto_end */

/* section_most_traded_cryptocurrencies */

.section_most_traded_cryptocurrencies {
    min-height: 80vh;
    min-height: 40vh;
    padding: 0 5%;
    @include background-properties($background_size_cover,
        $background_position_center,
        $background_repeat);
    background-image: url("/asset/connection_3.jpg");

    .section_most_traded_cryptocurrencies_title {
        @include text-custom($font_size_2,
            $font_weight_medium,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_strong);
        text-align: $text_align_center;
        margin: 20px 0;
    }

    display: flex;
    flex-direction: column;
}

.section_most_traded_cryptocurrencies_container {
    background: $strong_black;
    border-radius: $border_radius_25;
    border: solid 2px $primary_color_bright_light_cyan;
    box-shadow: 0 0 10px $primary-color-light-cyan;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    width: 900px;
    height: 500px;
    padding: 20px;


    .section_most_traded_cryptocurrencies_container_legend_title {
        margin: 20px;
        font-weight: $font_weight_normal;
        @include text-custom($font_size_1_2,
            $font_weight_strong,
            $primary_color_bright_light_cyan,
            $text_transform_capitalize,
            $letter_spacing_medium);
        text-align: $text_align_left;
    }

    .section_most_traded_cryptocurrencies_container_legend_list {
        display: flex;
        flex-direction: column;

        .section_most_traded_cryptocurrencies_container_legend_item {
            margin: 20px;
            font-weight: $font_weight_normal;
            @include text-custom($font_size_1_2,
                $font_weight_normal,
                $neutral_white,
                $text_transform_capitalize,
                $letter_spacing_medium);
            text-align: $text_align_left;
        }
    }
}

/* section_most_traded_cryptocurrencies_end */

/* section_section_promotion_nft */

.section_promotion_nft {
    width: 100%;
    @include background-properties($background_size_cover,
        $background_position_center,
        $background_repeat);
    background-image: url("/asset/connection_3.jpg");

    .section_promotion_nft_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 5%;

        @include media-maxwidth($deskop_size) {
            width: 80%;
            margin: 0 auto;
            justify-content: center;
        }
    }
}

.section_promotion_nft_container_promotion {
    @include media-maxwidth($deskop_size) {
        width: 100%;
    }

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .section_promotion_nft_container_promotion_title {
        line-height: 1.4;
        @include media-maxwidth($deskop_size) {
            margin: 20px auto;
        }

        @include text-custom($font_size_2,
            $font_weight_normal,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_medium);
        text-align: $text_align_center;
    }

    .section_promotion_nft_container_promotion_subtitle {
        margin-top: 20px;

        @include media-maxwidth($deskop_size) {
            margin: 20px auto;
            line-height: 1.4;
        }

        @include text-custom($font_size_1_2,
            $font_weight_medium,
            $neutral_white,
            $text_transform_capitalize,
            $letter_spacing_medium);
        text-align: $text_align_center;
    }

    .section_promotion_nft_container_promotion_paragraph {
        @include text-custom($font_size_1,
            $font_weight_normal,
            $neutral_white,
            $text_transform_none,
            $letter_spacing_medium);
        text-align: $text_align_center;
        padding: 25px 5%;
        line-height: 1.3;
        text-align: justify;
        text-justify: distribute;

        @include media-maxwidth($tablet_size) {
            text-justify: inherit;
            line-height: 2;
        }
    }

    .section_promotion_nft_container_promotion_link {
        width: 30%;
        border-radius: 10px;
        border: 1px solid $primary-color-light-cyan;
        background: transparent;
        text-align: center;
        color: $neutral_white;
        font-size: $font_size_1_2;
        transition: 0.5s;
        margin-top: 20px;
        padding: 15px 20px;
        transition: 0.5s;
        text-transform: $text-transform_capitalize;
        margin: 0 auto;

        &:hover {
            background: $primary-color-light-cyan;
        }
    }
}

/* container_timer */
.section_promotion_nft_container_promotion_timer {
    @include media-maxwidth($deskop_size) {
        margin: 20px auto;
    }

    @include media-maxwidth($smartphone_size_530) {
        width: 100%;
        margin: 30px auto;
    }

    margin: 20px auto;

    .section_promotion_nft_container_promotion_timer_time {
        display: flex;

        .section_promotion_nft_container_promotion_timer_time_box {
            width: 100px;
            height: 70px;
            margin: 0 5px;
            border-radius: $border_radius_10;

            @include media-maxwidth($smartphone_size) {
                padding: 0 10px;
            }

            @include text-custom($font_size_1_5,
                $font_weight_medium,
                $strong_black,
                $text_transform_none,
                $letter_spacing_medium);
            display: flex;
            justify-content: center;
            align-items: center;

            &:nth-child(1) {
                background: $primary_color_bright_light_cyan;
                box-shadow: 0 0 10px $primary_color_bright_light_cyan;
            }

            &:nth-child(2) {
                background: #ff00dd;
                box-shadow: 0 0 10px #ff00dd;
            }

            &:nth-child(3) {
                background: $primary_color_light_cyan;
                box-shadow: 0 0 10px $primary_color_light_cyan;
            }

            &:nth-child(4) {
                background: #a852ff;
                box-shadow: 0 0 10px #a852ff;
            }
        }
    }
}

.section_promotion_nft_container_card_nft {
    border: solid 4px $neutral_white;
    border-radius: $border_radius_15;
    animation: move 3s linear infinite;

    @include media-maxwidth($deskop_size) {
        margin: 70px auto;
    }

    @include media-maxwidth($smartphone_size_530) {
        width: 90%;
        height: 350px;
        margin: 25px auto;
    }

    .section_promotion_nft_container_card_nft_image {
        z-index: -1;
        border-radius: $border_radius_10;
        box-shadow: 0 0 20px $primary_color_bright_light_cyan;

        @include media-maxwidth($deskop_size) {
            width: 100%;
            height: 100%;

        }
    }
}

@keyframes move {
    0% {
        transform: translateY(0px);
        box-shadow: 0 0 30px $primary_color_bright_light_cyan;
    }

    50% {
        transform: translateY(10px);
        box-shadow: 0 0 40px $primary_color_bright_light_cyan;
    }

    100% {
        transform: translateY(0px);
    }
}

/* container_timer_end */

/* section_section_promotion_nft */

/* section_service_company */

.section_service_company {
    @include background-properties($background_size_cover,
        $background_position_center,
        $background_repeat);
    background-image: url("/asset/connection_4.jpg");
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .section_service_company_container {
        margin: 0 5%;
        width: 90%;

        .section_service_company_container_header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .section_service_company_container_header_title {
                @include text-custom($font_size_2,
                    $font_weight_normal,
                    $neutral_white,
                    $text_transform_none,
                    $letter_spacing_medium);

                @include media-maxwidth($deskop_size) {
                    text-align: center;
                }

                &:first-letter {
                    text-transform: capitalize;
                }
            }

            .section_service_company_container_header_menu {
                position: relative;
                list-style: none;
                display: flex;
                margin: 30px 0;

                @include media-maxwidth($tablet_size) {
                    flex-wrap: wrap;
                }
            }

            .section_service_company_container_header_menu_item {
                @include media-maxwidth($tablet_size) {
                    margin: 10px auto;
                }
            }

            .section_service_company_container_header_menu_link {
                display: block;
                margin: 0 5px;
                width: 100px;
                height: 30px;
                line-height: 30px;
                @include text-custom($font_size_1_1,
                    $font_weight_normal,
                    $neutral_white,
                    $text_transform_none,
                    $letter_spacing_strong);
                border: 2px solid $primary-color-light-cyan;
                border-radius: $border_radius_10;
                text-align: $text_align_center;
                position: relative;
                transition: all .5s;

                span {
                    position: relative;
                    z-index: 2;
                }

                &::after {
                    position: absolute;
                    content: "";
                    top: 0;
                    left: 0;
                    width: 0;
                    height: 100%;
                    background: $primary_color_light_cyan;
                    transition: all .35s;
                    border-radius: $border_radius_10;
                }

                &:hover {
                    color: $neutral_white;
                    box-shadow: 0 0 50px $primary-color-light-cyan;
                    background: $primary-color-light-cyan;
                }

                &:hover:after {
                    width: 100%;
                }
            }
        }

    }

    .section_service_swicth_container {
        display: flex;
        justify-content: center;
        margin: 5%;
        width: 90%;

        .section_service_swicth_container_article {
            @include media-minwidth($deskop_size) {
                min-width: 1000px;
            }

            width: 1100px;
            height: 400px;
            display: flex;
            border: solid 1px $neutral_white;
            border-radius: $border_radius_10;
            box-shadow: 0 0 20px $neutral_white;
            background: $strong_black;
            z-index: 1;

            @include media-maxwidth($deskop_size) {
                flex-direction: column;
                width: 90%;
                height: auto;

            }

            .section_service_swicth_container_article_image {
                border-bottom-left-radius: $border_radius_10;
                border-top-left-radius: $border_radius_10;
                z-index: -1;
            }
        }

        .section_service_swicth_container_article_description {
            display: flex;
            justify-content: $justify_content_space_around;
            align-items: center;
            flex-direction: column;
            padding: 20px;

            .section_service_description_hidden {
                @include media-maxwidth($deskop_size) {
                    visibility: hidden;
                    display: none;
                }
            }

            .section_service_swicth_container_article_description_title {
                @include text-custom($font_size_2,
                    $font_weight_medium,
                    $primary_color_bright_light_cyan,
                    $text_transform_none,
                    $letter_spacing_medium);
                text-align: center;

                @include media-maxwidth($deskop_size) {
                    text-align: center;
                    padding: 20px 0;
                }
            }

            .section_service_swicth_container_article_description_paragraph {
                @include text-custom($font_size_1_2,
                    $font_weight_normal,
                    $neutral_white,
                    $text_transform_none,
                    $letter_spacing_light);
                padding: 0 10%;
                text-align: justify;
                text-justify: distribute;

                @include media-maxwidth($deskop_size) {
                    padding: 5px 0;
                    text-align: center;
                    line-height: 1.4;
                }
            }

            .section_service_swicth_container_article_description_link {
                @include text-custom($font_size_1_2,
                    $font_weight_normal,
                    $neutral_white,
                    $text_transform_none,
                    $letter_spacing_medium);
                text-decoration: underline;
                transition: 0.5s;

                @include media-maxwidth($deskop_size) {
                    padding: 25px 0;
                }

                &:hover {
                    color: $primary_color_bright_light_cyan;
                }
            }
        }
    }
}

/* section_service_company_end */

/* section_crypto_list */

.section_crypto_list {
    @include flex-container($flex_direction_column,
        $justify_content_space_evenly,
        $align_items_center);
    @include background-properties($background_size_cover,
        $background_position_center,
        $background_repeat);
    background-image: url("/asset/connection_3.jpg");
    min-height: 100vh;
}

.section_crypto_list .section_crypto_list_scroll {
    @include flex-container($flex_direction_column);
    position: relative;
    width: 700px;
    overflow: hidden;
    mask-image: linear-gradient(90deg, transparent, $neutral_white, $neutral_white, transparent);

    @include media-maxwidth($tablet_size) {
        width: 80%;
    }
}

.section_crypto_list_scroll .section_crypto_list_scroll_line {
    white-space: nowrap;
    animation: animate var(--t) linear infinite;
    animation-delay: calc(var(--t) * -1);
}

.section_crypto_list_scroll .section_crypto_list_scroll_line:nth-child(2) {
    animation: animate2 var(--t) linear infinite;
    animation-delay: calc(var(--t) / -2);
}

.section_crypto_list_scroll .section_crypto_list_scroll_line span {
    display: inline-flex;
    @include text-custom($font_size_1_1,
        $font_weight_normal,
        $neutral_white,
        $text_transform_none,
        $letter_spacing_medium);
    padding: 10px 20px;
    background: $primary_color_light_cyan;
    box-shadow: 0 0 10px $primary_color_light_cyan;
    border-radius: $border_radius_5;
    margin: 10px;
    transition: 0.5s;
}

@keyframes animate {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-25%);
        /* change the distance of elements */
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes animate2 {
    0% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-50%);
        /* change the distance of elements */
    }

    100% {
        transform: translateX(0%);
    }
}

.section_crypto_list_card {
    @include flex-container($justify_content_center);
    width: 100%;

    @include media-maxwidth($smartphone_size_530) {
        margin: 40px 0;
    }

    .section_crypto_list_card {
        @include flex-container($flex_direction_column,
            $justify_content_center,
            $align_items_center);
        @include dimensions($width: 150px, $height: 100px);
        background: $neutral_white;
        border-radius: $border_radius_10;
        margin: 10px;

        &:nth-child(1) {
            background: $primary_color_bright_light_cyan;
            box-shadow: 0 0 10px $primary_color_bright_light_cyan;
        }

        &:nth-child(2) {
            background: #0769f4;
            box-shadow: 0 0 10px #0769f4;
        }

        &:nth-child(3) {
            background: #a852ff;
            box-shadow: 0 0 10px #a852ff;
        }

        &:nth-child(4) {
            background: #ff00dd;
            box-shadow: 0 0 10px #ff00dd;
        }

        .section_crypto_list_card_title {
            @include text-custom($font_size_1_5,
                $font_weight_medium,
                $strong_black,
                $text_transform_capitalize,
                $letter_spacing_medium);
        }
    }
}

/* section_crypto_list_end */

/* section_presentation_team */

.section_presentation_team {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include background-properties($background_size_cover,
        $background_position_center,
        $background_repeat);
    background-image: url("/asset/connection_4.jpg");
    min-height: 100vh;
}

.section_presentation_team_title{
    @include text-custom($font_size_2,
    $font_weight_medium,
    $neutral_white,
    $text_transform_capitalize,
    $letter_spacing_strong);
    margin: 20px 0;
}

.swiper {
    width: 1100px;
    height: 400px;
}

.card {
    .card_container {
        margin: 5px;
        outline: solid 3px $neutral_white;
        border-radius: 20px;
        height: 380px;
        background: $strong_black;

        .container_image {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 170px;
            background: $primary-color-light-cyan;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .container_description {
            padding: 10px 20px;
            height: 150px;
        }

        h2 {
            @include text-custom($font_size_1,
                $font_weight_medium,
                $neutral_white,
                $text_transform_capitalize,
                $letter_spacing_strong);
            text-align: center;
            padding: 10px 0;
        }

        h3 {
            @include text-custom($font_size_1,
                $font_weight_medium,
                $primary-color-light-cyan,
                $text_transform_capitalize,
                $letter_spacing_medium);
            text-align: center;
        }

        p {

            text-align: center;
            letter-spacing: 1px;
            line-height: 1.2;
            padding: 10px 0;
            color: $neutral_white;
        }

        .container_btn {
            width: 200px;
            text-align: center;
            margin: 0 auto;
        }

        a {
            padding: 7px 14px;
            background: $primary-color-light-cyan;
            border-radius: 10px;
            color: white;
            transition: 0.3s;

            &:hover {
                color: $strong_black;
            }
        }
    }
}

.swiper-slide {
    width: 320px;
    height: 500px;
    margin: 10px 0px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: $neutral_white;
}

/* section_presentation_team_end */

/* line */

.line {
    background: linear-gradient(270deg, black, black, $primary_color_bright_light_cyan, $primary_color_bright_light_cyan, $primary-color-light-cyan, $primary_color_bright_light_cyan, $primary-color-light-cyan, $primary_color_bright_light_cyan, $primary_color_bright_light_cyan, black, black);
    height: 1px;
    opacity: 1;
    border-radius: 30px;
    border: 0;
}

/* line_end */

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 40vh;
    padding: 0 5%;
    margin: 0 auto;
}

.footer_container {
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.footer_container_figure {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 300px;

    .footer_container_figure_link {
        cursor: $cursor_pointer;
        @include flex-container($direction: $flex_direction_row,
            $justify: $justify_content_center,
            $align: $align_items_center);
        font-size: $font_size_1_2;
        @include text-gradient(linear-gradient(35deg, $primary_color_bright_light_cyan, $primary_color_light_cyan), text, transparent);
        @include text-custom($font_size: $font_size_1_2,
            $font_weight: $font_weight_medium,
            $text_color: $neutral_white,
            $text_transform: $text_transform_none,
            $letter_spacing: $letter_spacing_strong);
    }

    .footer_container_figure_link_figcaption {
        padding: 10px;
    }
}

.footer_container_info {
    margin: 0 auto;

    .footer_container_info_newsletter {
        text-align: center;

        .footer_container_info_newsletter_input {
            width: 300px;
            height: 50px;
            padding: 0 10px;
            border: none;
            border-left: solid 1px rgba(128, 128, 128, 0.8);
            border-bottom: solid 1px rgba(128, 128, 128, 0.8);
            outline: none;
            background: transparent;
            color: $primary_color_bright_light_cyan;
            transition: 0.5s;

            &:hover {
                border-left: solid 1px $primary_color_bright_light_cyan;
                border-bottom: solid 1px $primary_color_bright_light_cyan;
            }

            &::placeholder {
                @include text-custom(12px,
                    $font_weight_medium,
                    $neutral_white,
                    $text_transform_capitalize,
                    $letter_spacing_medium);
            }
        }

        .bx-right-arrow-alt {
            color: gray;
            font-size: $font_size_1_2;
            position: relative;
            right: 30px;
        }
    }
}

.footer_container_media {
    display: flex;
    margin: 0 auto;

    .footer_container_media {
        margin: 0 auto;
    }
}

.footer_container_company_nav_bar {
    display: flex;
    flex-direction: column;

    .footer_container_company_nav_bar_list {
        display: flex;
        margin: 20px auto;

        .footer_container_company_nav_bar_list_items {
            display: flex;
            margin: 0 20px;
            font-size: $font_size_1_2;

            .footer_container_company_nav_bar_list_items_link {
                @include text-custom($font_size_1_1,
                    $font_weight_normal,
                    $neutral_white,
                    $text_transform_none,
                    $letter_spacing_medium);

                &:hover {
                    color: $primary_color_light_cyan;
                }
            }
        }
    }
}

.footer_container_media_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 15px;
    background: $primary_color_light_cyan;
    border: solid 1px $neutral_white;
    color: $neutral_white;
    transition: 0.3s;

    &:hover {
        background: $neutral_white;
        color: $strong_black;
    }

    i {
        &:hover {
            color: $strong_black;
        }
    }
}

/* footer_end */