html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Loader */
#container_loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(30, 28, 28, 0.6);
  z-index: 100;
}
#container_loader .container_loader_circle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  border: solid 4px #1786F9;
  animation: loadermove 1s linear infinite;
}
#container_loader .container_loader_circle .dot {
  width: 10px;
  height: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #00FEFB;
  box-shadow: 0 0 50px #00FEFB;
  animation: loaderscale 3s linear infinite;
}

.container_loader_circle:nth-child(1) {
  transform: translateY(10px);
}

.container_loader_circle:nth-child(2) {
  transform: translateY(-10px);
}

.container_loader_circle:nth-child(3) {
  transform: translateY(10px);
}

.container_loader_circle:nth-child(4) {
  transform: translateY(-10px);
}

/* animation_keyframes_scale_loader */
@keyframes loadermove {
  0% {
    box-shadow: 0 0 10px #1786F9;
  }
  50% {
    box-shadow: 0 10px 20px #1786F9;
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 30px #1786F9;
  }
}
/* animation_keyframes_scale_loader_end */
/* animation_keyframes_scale_dot */
@keyframes loaderscale {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(0);
  }
}
/* animation_keyframes_scale_dot_end 
/* loader_end */
/* btn_reactive_additionnal_information */
.reactive_additional_information_section_btn {
  cursor: pointer;
  position: fixed;
  right: 500px;
  bottom: 6%;
  left: 3%;
  z-index: 250;
  width: 40px;
}
.reactive_additional_information_section_btn .bxs-radiation {
  padding: 10px;
  border-radius: 50%;
  background: #fbfafa;
  color: #1786F9;
  font-size: 25px;
  animation: rotateBtn 5s linear infinite;
  box-shadow: 0 0 10px #1786F9;
}

@keyframes rotateBtn {
  100% {
    transform: rotate(360deg);
  }
}
/* btn_reactive_additionnal_information_end */
/* section_reactive_information */
.reactive_additional_information_section {
  position: fixed;
  top: 2%;
  min-width: 300px;
  width: 20%;
  right: -350px;
  min-height: 95%;
  border-radius: 20px;
  background: #1786F9;
  box-shadow: 0 0 10px #1786F9;
  color: #fbfafa;
  z-index: 50;
  transition: 1s;
  box-shadow: inset 1.21px 1.59px 2.8px -0.35px rgba(0, 0, 0, 0.15), inset -1.82px -2.39px 2.8px -0.35px rgba(0, 0, 0, 0.3), 3.63px 4.77px 2.1px -1.05px rgba(0, 0, 0, 0.6);
}
.reactive_additional_information_section.active_section_reactive {
  right: 0px;
}
.reactive_additional_information_section .reactive_additional_information_section_title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
  margin: 10px 0px;
}

.reactive_additional_information_section_article {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 10px auto;
  height: auto;
  border-radius: 20px;
  border: 1px solid #fbfafa;
  background: #1e1c1c;
}
.reactive_additional_information_section_article .reactive_additional_information_section_article_title {
  text-align: center;
  margin: 10px 0px;
}
.reactive_additional_information_section_article .reactive_additional_information_section_article_link {
  border-radius: 20px;
  border: 1px solid #1e1c1c;
  width: 40%;
  padding: 8px 15px;
  background: #fbfafa;
  margin: 10px auto;
  text-align: center;
  color: #1e1c1c;
  transition: 0.2s;
}
.reactive_additional_information_section_article .reactive_additional_information_section_article_link:hover {
  color: #fbfafa;
  background: #1786F9;
  box-shadow: inset 1.21px 1.59px 2.8px -0.35px rgba(0, 0, 0, 0.15), inset -1.82px -2.39px 2.8px -0.35px rgba(0, 0, 0, 0.3), 3.63px 4.77px 2.1px -1.05px rgba(0, 0, 0, 0.6);
}

/* section_reactive_information_end */
/* body */
body {
  width: 100%;
  height: auto;
  background: #04060a;
  font-size: 16px;
  font-family: Helvetica;
  overflow-x: hidden;
}

/* body_end */
/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 35px;
  /* header_logo */
  /* header_logo_end */
}
@media (min-width: 376px) {
  header {
    margin: 0px 20px;
  }
}
@media (max-width: 376px) {
  header {
    padding: 5%;
  }
}
header .header_logo {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
header .header_logo .header_logo_image {
  animation: rotate 3s linear infinite;
}
header .header_logo_title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: none;
  letter-spacing: 3px;
  background-image: linear-gradient(35deg, #00FEFB, #1786F9);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-left: 10px;
}
@media (max-width: 779px) {
  header .header_logo_title {
    visibility: hidden;
  }
}
header .header_nav_bar_link {
  font-size: 1rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 2px;
  transition: color 0.5s;
  margin-right: 18px;
}
@media (max-width: 1024px) {
  header .header_nav_bar_link {
    display: none;
  }
}
header .header_nav_bar_link:hover {
  color: #1786F9;
}
header .header_box_button_link {
  font-size: 1rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 8px 15px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #1786F9;
  transition: 0.5s;
}
@media (max-width: 1024px) {
  header .header_box_button_link {
    display: none;
  }
}
header .header_box_button_link:hover {
  background: #1786F9;
}
header .active {
  background: #1786F9;
  transition: 0.5s;
}
header .active:hover {
  box-shadow: 0px 0px 50px #1786F9;
}

.header_nav_bar_link {
  position: relative;
}
.header_nav_bar_link::after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  bottom: -9px;
  background: #1786F9;
  border-radius: 40px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s;
}

.header_nav_bar_link:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

/* Animation rotate logo */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(220deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* Animation_rotate_logo */
/* burger_menu */
.header_burger_menu {
  width: auto;
  height: auto;
  cursor: pointer;
  display: none;
}
@media (max-width: 1024px) {
  .header_burger_menu {
    display: block;
  }
}
.header_burger_menu .bar {
  width: 35px;
  height: 2px;
  background: #fbfafa;
  margin: 10px;
}
.header_burger_menu .bar:nth-child(2) {
  width: 15px;
  transition: width 0.5s ease-in-out;
}
.header_burger_menu:hover .bar {
  transition: background-color 0.5s;
  background: #1786F9;
  transition: width 0.5s ease-in-out;
}
.header_burger_menu:hover .bar:nth-child(2) {
  width: 35px;
}

/* burger_menu_end */
/* nav_bar_dropdown */
.header_nav_bar_drodpdown {
  cursor: pointer;
  display: inline-block;
}

.header_nav_bar_drodpdown_container {
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  border: 3px solid #fbfafa;
  background: #1786F9;
  display: none;
  padding: 10px;
  margin-top: 20px;
  max-width: 400px;
  position: absolute;
  left: 52%;
  z-index: 10;
}
.header_nav_bar_drodpdown_container .header_nav_bar_drodpdown_container_column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: wrap;
  flex-wrap: wrap;
  width: 80%;
}
.header_nav_bar_drodpdown_container .header_nav_bar_drodpdown_container_link {
  color: #1e1c1c;
  font-size: 1.1rem;
  text-transform: capitalize;
  padding: 10px;
  width: 40px;
  transition: 0.3s;
}
.header_nav_bar_drodpdown_container .header_nav_bar_drodpdown_container_link:hover {
  color: #fbfafa;
}

#header_nav_bar_dropdown_scrolling_menu {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: #1e1c1c;
  z-index: 50;
}
#header_nav_bar_dropdown_scrolling_menu .header_nav_bar_dropdown_scrolling_menu_link {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  left: 5%;
  padding: 20px;
  position: relative;
  border-top: solid 2px #fbfafa;
}
#header_nav_bar_dropdown_scrolling_menu .header_nav_bar_dropdown_scrolling_menu_link:hover {
  background: #1786F9;
}

.header_nav_bar_dropdodwn_scrolling_menu_header {
  width: auto;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px 5%;
  padding: 10px;
}

.header_nav_bar_dropdown_burger_menu_header_cross {
  width: 32px;
  height: 32px;
  position: relative;
  cursor: pointer;
}
.header_nav_bar_dropdown_burger_menu_header_cross:before, .header_nav_bar_dropdown_burger_menu_header_cross:after {
  width: 2px;
  height: 33px;
  background: #fbfafa;
  position: absolute;
  content: " ";
}
.header_nav_bar_dropdown_burger_menu_header_cross:before {
  transform: rotate(45deg);
}
.header_nav_bar_dropdown_burger_menu_header_cross:after {
  transform: rotate(-45deg);
}

/* nav_bar_dropdown_end */
/* header_end */
/* section_presentation */
.section_presentation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/asset/connection.jpg");
  min-height: 100vh;
}
@media (min-width: 376px) {
  .section_presentation {
    margin-top: 30px;
  }
}
@media (max-width: 779px) {
  .section_presentation {
    margin-top: 15px;
  }
}
@media (max-width: 1024px) {
  .section_presentation {
    min-height: 0;
  }
}

.section_presentation_introduction {
  width: 100%;
  margin: 0px 10px;
}
@media (max-width: 376px) {
  .section_presentation_introduction {
    margin: 20px 0px;
  }
}
.section_presentation_introduction .section_presentation_introduction_title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 3px;
  text-align: center;
}
@media (max-width: 779px) {
  .section_presentation_introduction .section_presentation_introduction_title {
    margin: 5%;
  }
}
.section_presentation_introduction .section_presentation_introduction_subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 3px;
  width: 70%;
  margin: 35px auto;
  text-align: center;
  opacity: 0.7;
  line-height: 1.5;
}
.section_presentation_introduction .section_presentation_introduction_subtitle .subtitle_strong {
  color: #1786F9;
}

.section_presentation_list_advantage {
  border-radius: 5px;
  border: 2px solid #fbfafa;
  background: #1786F9;
  padding: 10px;
  width: 40%;
  min-width: 330px;
  box-shadow: 0 0 10px #1786F9;
}
@media (min-width: 376px) {
  .section_presentation_list_advantage {
    margin-right: 20px;
  }
}
.section_presentation_list_advantage .section_presentation_list_advantage_menu_item {
  padding: 10px;
}
.section_presentation_list_advantage .section_presentation_list_advantage_menu_item i {
  padding-right: 4px;
  color: #fbfafa;
}

.section_presentation_link {
  margin-top: 40px;
}

.section_presentation_link_download_app {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 3px;
  text-transform: capitalize;
  border-radius: 25px;
  border: 1px solid #1786F9;
  padding: 15px 20px;
  transition: 0.3s;
}
.section_presentation_link_download_app:hover {
  background: #1786F9;
  box-shadow: 0 0 10px #00FEFB;
}

/* section_exchange_presentation_end */
/* section_buy_crypto */
.section_buy_crypto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-image: url("/asset/connection_2.jpg");
}
@media (max-width: 1024px) {
  .section_buy_crypto {
    margin-top: 70px;
    margin-bottom: 20px;
  }
}

.section_buy_crypto_container {
  width: 100%;
  min-height: 80vh;
  margin: 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .section_buy_crypto_container {
    min-height: 0;
  }
}

.section_buy_crypto_title {
  font-size: 2rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: center;
}
@media (max-width: 1024px) {
  .section_buy_crypto_title {
    padding: 20px;
  }
}

.section_buy_crypto_container_advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
}
@media (max-width: 1024px) {
  .section_buy_crypto_container_advantage {
    width: 80%;
    text-align: center;
  }
}
.section_buy_crypto_container_advantage .section_buy_crypto_container_advantage_text {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: none;
  letter-spacing: 2px;
  line-height: 1.5;
  margin: 10px;
}
.section_buy_crypto_container_advantage .section_buy_crypto_container_advantage_link {
  border-radius: 10px;
  border: 1px solid #1786F9;
  background: transparent;
  text-align: center;
  color: #fbfafa;
  transition: 0.5s;
  margin-top: 20px;
  padding: 15px 20px;
}
.section_buy_crypto_container_advantage .section_buy_crypto_container_advantage_link:hover {
  background: #1786F9;
  box-shadow: 0 0 10px #00FEFB;
}

/* section_buy_crypto card_bank */
.section_buy_crypto .article_card_bank {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  border: 2px solid #1786F9;
  background: #1e1c1c;
  min-width: 370px;
  max-width: 500px;
  filter: brightness(120%);
  box-shadow: 0 0 5px #c5c5c5;
  animation: move 2s linear infinite;
}
@media (max-width: 1024px) {
  .section_buy_crypto .article_card_bank {
    display: none;
  }
}

@keyframes move {
  0% {
    box-shadow: 0 0 5px #c5c5c5;
    transform: translateY(0);
  }
  50% {
    box-shadow: 0 0 15px #c5c5c5;
    transform: translateY(-10px);
  }
  100% {
    box-shadow: 0 0 5px #c5c5c5;
  }
}
/* header_card_bank */
.article_header_card_bank {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  padding: 10px;
}
.article_header_card_bank .article_header_card_bank_number {
  font-size: 1.1rem;
  font-weight: normal;
  color: #fbfafa;
  text-transform: none;
  letter-spacing: 3px;
  margin: 0px 15px;
}
.article_header_card_bank .article_header_card_bank_code {
  font-size: 1.1rem;
  font-weight: normal;
  color: #fbfafa;
  text-transform: none;
  letter-spacing: 3px;
  margin: 0px 15px;
}

.article_card_bank_image {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.article_card_bank_image .article_card_bank_logo {
  padding-left: 110px;
}

.article_footer_card_bank {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  color: #fbfafa;
  letter-spacing: 3px;
}
.article_footer_card_bank .article_footer_card_bank_name {
  margin: 15px;
  font-size: 1.1rem;
}
.article_footer_card_bank .article_footer_card_bank_title {
  margin: 15px;
  font-size: 1.5rem;
}

/* section_buy_crypto card_bank_end */
/* section_buy_crypto_end */
/* section_section_promotion_nft */
.section_promotion_nft {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-image: url("/asset/connection_3.jpg");
}
.section_promotion_nft .section_promotion_nft_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 5%;
}
@media (max-width: 1024px) {
  .section_promotion_nft .section_promotion_nft_container {
    width: 80%;
    margin: 0px auto;
    justify-content: center;
  }
}

.section_promotion_nft_container_promotion {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
  .section_promotion_nft_container_promotion {
    width: 100%;
  }
}
.section_promotion_nft_container_promotion .section_promotion_nft_container_promotion_title {
  line-height: 1.2;
  font-size: 2rem;
  font-weight: normal;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: center;
}
@media (max-width: 1024px) {
  .section_promotion_nft_container_promotion .section_promotion_nft_container_promotion_title {
    margin: 20px auto;
  }
}
.section_promotion_nft_container_promotion .section_promotion_nft_container_promotion_subtitle {
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: center;
}
@media (max-width: 1024px) {
  .section_promotion_nft_container_promotion .section_promotion_nft_container_promotion_subtitle {
    margin: 20px auto;
    line-height: 1.2;
  }
}
.section_promotion_nft_container_promotion .section_promotion_nft_container_promotion_paragraph {
  font-size: 1rem;
  font-weight: normal;
  color: #fbfafa;
  text-transform: none;
  letter-spacing: 2px;
  text-align: center;
  padding: 25px 5%;
  line-height: 1.2;
  text-align: justify;
  text-justify: distribute;
}
@media (max-width: 779px) {
  .section_promotion_nft_container_promotion .section_promotion_nft_container_promotion_paragraph {
    text-justify: inherit;
    line-height: 2;
  }
}
.section_promotion_nft_container_promotion .section_promotion_nft_container_promotion_link {
  width: 30%;
  border-radius: 10px;
  border: 1px solid #1786F9;
  background: transparent;
  text-align: center;
  color: #fbfafa;
  font-size: 1.2rem;
  margin-top: 20px;
  padding: 15px 20px;
  text-transform: capitalize;
  margin: 0px auto;
  transition: 0.5s;
}
.section_promotion_nft_container_promotion .section_promotion_nft_container_promotion_link:hover {
  background: #1786F9;
}

/* container_timer */
.section_promotion_nft_container_promotion_timer {
  margin: 20px auto;
}
@media (max-width: 1024px) {
  .section_promotion_nft_container_promotion_timer {
    margin: 20px auto;
  }
}
@media (max-width: 530px) {
  .section_promotion_nft_container_promotion_timer {
    width: 100%;
    margin: 30px auto;
  }
}
.section_promotion_nft_container_promotion_timer .section_promotion_nft_container_promotion_timer_time {
  display: flex;
}
.section_promotion_nft_container_promotion_timer .section_promotion_nft_container_promotion_timer_time .section_promotion_nft_container_promotion_timer_time_box {
  width: 100px;
  height: 70px;
  margin: 0px 5px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e1c1c;
  text-transform: none;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 376px) {
  .section_promotion_nft_container_promotion_timer .section_promotion_nft_container_promotion_timer_time .section_promotion_nft_container_promotion_timer_time_box {
    padding: 0px 10px;
  }
}
.section_promotion_nft_container_promotion_timer .section_promotion_nft_container_promotion_timer_time .section_promotion_nft_container_promotion_timer_time_box:nth-child(1) {
  background: #00FEFB;
  box-shadow: 0 0 10px #00FEFB;
}
.section_promotion_nft_container_promotion_timer .section_promotion_nft_container_promotion_timer_time .section_promotion_nft_container_promotion_timer_time_box:nth-child(2) {
  background: #ff00dd;
  box-shadow: 0 0 10px #ff00dd;
}
.section_promotion_nft_container_promotion_timer .section_promotion_nft_container_promotion_timer_time .section_promotion_nft_container_promotion_timer_time_box:nth-child(3) {
  background: #1786F9;
  box-shadow: 0 0 10px #1786F9;
}
.section_promotion_nft_container_promotion_timer .section_promotion_nft_container_promotion_timer_time .section_promotion_nft_container_promotion_timer_time_box:nth-child(4) {
  background: #a852ff;
  box-shadow: 0 0 10px #a852ff;
}

.section_promotion_nft_container_card_nft {
  border-radius: 15px;
  border: 4px solid #fbfafa;
  animation: move 3s linear infinite;
}
@media (max-width: 1024px) {
  .section_promotion_nft_container_card_nft {
    margin: 70px auto;
  }
}
@media (max-width: 530px) {
  .section_promotion_nft_container_card_nft {
    width: 90%;
    height: 350px;
    margin: 25px auto;
  }
}
@media (max-width: 376px) {
  .section_promotion_nft_container_card_nft {
    height: 90%;
  }
}
.section_promotion_nft_container_card_nft .section_promotion_nft_container_card_nft_image {
  z-index: -1;
  border-radius: 10px;
  box-shadow: 0 0 20px #00FEFB;
}
@media (max-width: 1024px) {
  .section_promotion_nft_container_card_nft .section_promotion_nft_container_card_nft_image {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 376px) {
  .section_promotion_nft_container_card_nft .section_promotion_nft_container_card_nft_image {
    height: 90%;
  }
}

@keyframes move {
  0% {
    transform: translateY(0px);
    box-shadow: 0 0 30px #00FEFB;
  }
  50% {
    transform: translateY(10px);
    box-shadow: 0 0 40px #00FEFB;
  }
  100% {
    transform: translateY(0px);
  }
}
/* container_timer_end */
/* section_section_promotion_nft */
/* section_service_company */
.section_service_company {
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-image: url("/asset/connection_4.jpg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 80vh;
  /* switch container */
  /* switch container_end */
}
@media (max-width: 1024px) {
  .section_service_company {
    min-height: 0;
  }
}
.section_service_company .section_service_company_container {
  margin: 0px 5%;
  width: 90%;
}
.section_service_company .section_service_company_container .section_service_company_container_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section_service_company .section_service_company_container .section_service_company_container_header .section_service_company_container_header_title {
  font-size: 2rem;
  font-weight: normal;
  color: #fbfafa;
  text-transform: none;
  letter-spacing: 2px;
}
@media (max-width: 1024px) {
  .section_service_company .section_service_company_container .section_service_company_container_header .section_service_company_container_header_title {
    text-align: center;
  }
}
.section_service_company .section_service_company_container .section_service_company_container_header .section_service_company_container_header_title:first-letter {
  text-transform: capitalize;
}
.section_service_company .section_service_company_container .section_service_company_container_header .section_service_company_container_header_menu {
  position: relative;
  list-style: none;
  display: flex;
  margin: 30px 0px;
}
@media (max-width: 779px) {
  .section_service_company .section_service_company_container .section_service_company_container_header .section_service_company_container_header_menu {
    flex-wrap: wrap;
  }
}
@media (max-width: 779px) {
  .section_service_company .section_service_company_container .section_service_company_container_header .section_service_company_container_header_menu_item {
    margin: 10px auto;
  }
}
.section_service_company .section_service_company_container .section_service_company_container_header .section_service_company_container_header_menu_link {
  position: relative;
  display: block;
  margin: 0px 5px;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 1.1rem;
  font-weight: normal;
  color: #fbfafa;
  text-transform: none;
  letter-spacing: 3px;
  border-radius: 10px;
  border: 2px solid #1786F9;
  text-align: center;
  transition: all 0.5s;
}
.section_service_company .section_service_company_container .section_service_company_container_header .section_service_company_container_header_menu_link span {
  position: relative;
  z-index: 2;
}
.section_service_company .section_service_company_container .section_service_company_container_header .section_service_company_container_header_menu_link::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #1786F9;
  transition: all 0.35s;
  border-radius: 10px;
}
.section_service_company .section_service_company_container .section_service_company_container_header .section_service_company_container_header_menu_link:hover {
  color: #fbfafa;
  box-shadow: 0 0 50px #1786F9;
  background: #1786F9;
}
.section_service_company .section_service_company_container .section_service_company_container_header .section_service_company_container_header_menu_link:hover:after {
  width: 100%;
}
.section_service_company .section_service_swicth_container {
  display: flex;
  justify-content: center;
  margin: 5%;
  width: 90%;
}
.section_service_company .section_service_swicth_container .section_service_swicth_container_article {
  width: 1100px;
  height: 400px;
  display: flex;
  border-radius: 10px;
  border: 1px solid #fbfafa;
  box-shadow: 0 0 20px #fbfafa;
  background: #1e1c1c;
  z-index: 1;
}
@media (min-width: 1024px) {
  .section_service_company .section_service_swicth_container .section_service_swicth_container_article {
    min-width: 1000px;
  }
}
@media (max-width: 1024px) {
  .section_service_company .section_service_swicth_container .section_service_swicth_container_article {
    flex-direction: column;
    width: 90%;
    height: auto;
  }
}
.section_service_company .section_service_swicth_container .section_service_swicth_container_article .section_service_swicth_container_article_image {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: -1;
}
@media (max-width: 376px) {
  .section_service_company .section_service_swicth_container .section_service_swicth_container_article .section_service_swicth_container_article_image {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
  }
}
@media (max-width: 1024px) {
  .section_service_company .section_service_swicth_container .section_service_swicth_container_article .section_service_swicth_container_article_image {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 0;
  }
}
.section_service_company .section_service_swicth_container .section_service_swicth_container_article_description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}
@media (max-width: 1024px) {
  .section_service_company .section_service_swicth_container .section_service_swicth_container_article_description .section_service_description_hidden {
    visibility: hidden;
    display: none;
  }
}
.section_service_company .section_service_swicth_container .section_service_swicth_container_article_description .section_service_swicth_container_article_description_title {
  font-size: 2rem;
  font-weight: 700;
  color: #00FEFB;
  text-transform: none;
  letter-spacing: 2px;
  text-align: center;
}
@media (max-width: 1024px) {
  .section_service_company .section_service_swicth_container .section_service_swicth_container_article_description .section_service_swicth_container_article_description_title {
    text-align: center;
    padding: 20px 0px;
  }
}
@media (max-width: 376px) {
  .section_service_company .section_service_swicth_container .section_service_swicth_container_article_description .section_service_swicth_container_article_description_title {
    font-size: 22px;
    line-height: 1.2;
  }
}
.section_service_company .section_service_swicth_container .section_service_swicth_container_article_description .section_service_swicth_container_article_description_paragraph {
  font-size: 1.2rem;
  font-weight: normal;
  color: #fbfafa;
  text-transform: none;
  letter-spacing: 1px;
  padding: 10px 10%;
  text-align: justify;
  text-justify: distribute;
}
@media (max-width: 1024px) {
  .section_service_company .section_service_swicth_container .section_service_swicth_container_article_description .section_service_swicth_container_article_description_paragraph {
    padding: 5px 0px;
    text-align: center;
    line-height: 1.2;
  }
}
@media (max-width: 530px) {
  .section_service_company .section_service_swicth_container .section_service_swicth_container_article_description .section_service_swicth_container_article_description_paragraph {
    display: none;
  }
}
@media (max-width: 376px) {
  .section_service_company .section_service_swicth_container .section_service_swicth_container_article_description .section_service_swicth_container_article_description_paragraph {
    display: none;
  }
}
.section_service_company .section_service_swicth_container .section_service_swicth_container_article_description .section_service_swicth_container_article_description_link {
  font-size: 1.2rem;
  font-weight: normal;
  color: #fbfafa;
  text-transform: none;
  letter-spacing: 2px;
  text-decoration: underline;
  transition: 0.5s;
}
@media (max-width: 1024px) {
  .section_service_company .section_service_swicth_container .section_service_swicth_container_article_description .section_service_swicth_container_article_description_link {
    padding: 25px 0px;
  }
}
@media (max-width: 376px) {
  .section_service_company .section_service_swicth_container .section_service_swicth_container_article_description .section_service_swicth_container_article_description_link {
    text-align: center;
    line-height: 1.2;
  }
}
.section_service_company .section_service_swicth_container .section_service_swicth_container_article_description .section_service_swicth_container_article_description_link:hover {
  color: #00FEFB;
}

/* section_service_company_end */
/* section_most_traded_cryptocurrencies */
.section_most_traded_cryptocurrencies {
  min-height: 40vh;
  padding: 0px 5%;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-image: url("/asset/connection_3.jpg");
  display: flex;
  flex-direction: column;
}
@media (max-width: 779px) {
  .section_most_traded_cryptocurrencies {
    display: none;
  }
}
.section_most_traded_cryptocurrencies .section_most_traded_cryptocurrencies_title {
  font-size: 2rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 3px;
  text-align: center;
  margin: 20px 0px;
}

.section_most_traded_cryptocurrencies_container {
  background: #1e1c1c;
  border-radius: 25px;
  border: solid 2px #00FEFB;
  box-shadow: 0 0 10px #1786F9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
  width: 900px;
  height: 500px;
  padding: 20px;
}
@media (max-width: 1024px) {
  .section_most_traded_cryptocurrencies_container {
    width: 70%;
    height: auto;
  }
}
.section_most_traded_cryptocurrencies_container .section_most_traded_cryptocurrencies_container_legend_title {
  margin: 20px;
  font-weight: normal;
  font-size: 1.2rem;
  font-weight: 900;
  color: #00FEFB;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: left;
}
@media (max-width: 1024px) {
  .section_most_traded_cryptocurrencies_container .section_most_traded_cryptocurrencies_container_legend_title {
    text-align: center;
  }
}
.section_most_traded_cryptocurrencies_container .section_most_traded_cryptocurrencies_container_legend_list {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .section_most_traded_cryptocurrencies_container .section_most_traded_cryptocurrencies_container_legend_list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.section_most_traded_cryptocurrencies_container .section_most_traded_cryptocurrencies_container_legend_list .section_most_traded_cryptocurrencies_container_legend_item {
  margin: 20px;
  font-weight: normal;
  font-size: 1.2rem;
  font-weight: normal;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: left;
}
@media (max-width: 1024px) {
  .section_most_traded_cryptocurrencies_container .section_most_traded_cryptocurrencies_container_legend_list .section_most_traded_cryptocurrencies_container_legend_item {
    text-align: center;
    line-height: 1.2;
  }
}

/* section_most_traded_cryptocurrencies_end */
/* section_presentation_team */
.section_presentation_team {
  width: 100%;
  margin: 0px auto;
  padding: 20px 0px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-image: url("/asset/connection_4.jpg");
}
@media screen and (min-width: 530px) and (max-width: 1024px) {
  .section_presentation_team {
    display: none;
  }
}

.section_presentation_team_title {
  font-size: 2rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 3px;
  margin: 20px 0px;
  text-align: center;
}
@media (max-width: 1024px) {
  .section_presentation_team_title {
    margin: 15px;
  }
}

/* swiper */
.swiper {
  width: 80%;
  margin: 0px auto;
}

/* swiper_end */
/* card_team_swiper */
.card .card_container {
  margin: 5px 10px;
  outline: solid 3px #fbfafa;
  border-radius: 20px;
  height: 400px;
  max-width: 400px;
  background: #1e1c1c;
}
.card .card_container .container_image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 170px;
  background: #1786F9;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card .card_container .container_description {
  padding: 15px 20px;
  height: 150px;
}
.card .card_container .section_presentation_team_container_swiper_article_container_description_title {
  font-size: 1rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 3px;
  text-align: center;
  padding: 10px 0px;
}
.card .card_container .section_presentation_team_container_swiper_article_container_description_subtitle {
  font-size: 1rem;
  font-weight: 700;
  color: #1786F9;
  text-transform: capitalize;
  letter-spacing: 2px;
  text-align: center;
}
.card .card_container .section_presentation_team_container_swiper_article_container_description_paragraph {
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.2;
  padding: 10px 0px;
  color: #fbfafa;
}
.card .card_container .container_btn {
  width: 200px;
  text-align: center;
  margin: 0px auto;
}
.card .card_container .section_presentation_team_container_swiper_article_container_description_contioner_btn_link {
  padding: 7px 14px;
  background: #1786F9;
  border-radius: 10px;
  color: #fbfafa;
  transition: 0.3s;
}
.card .card_container .section_presentation_team_container_swiper_article_container_description_contioner_btn_link:hover {
  color: #1e1c1c;
}

/* card_team_swiper */
/* swiper_slide_button */
.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fbfafa;
}
@media (max-width: 530px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
}

/* swiper_slide_button_end */
/* section_presentation_team_end */
/* section_crypto_list */
.section_crypto_list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  background-image: url("/asset/connection_3.jpg");
  margin: 30px 0px;
  padding: 40px 0px;
}
@media (max-width: 1024px) {
  .section_crypto_list {
    padding: 0px;
    margin: 0px;
    min-height: 0;
  }
}

.section_crypto_list .section_crypto_list_scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  width: 700px;
  overflow: hidden;
  margin-top: 40px;
  -webkit-mask-image: linear-gradient(90deg, transparent, #fbfafa, #fbfafa, transparent);
          mask-image: linear-gradient(90deg, transparent, #fbfafa, #fbfafa, transparent);
}
@media (max-width: 779px) {
  .section_crypto_list .section_crypto_list_scroll {
    width: 80%;
    margin: 30px 0px;
  }
}

.section_crypto_list_scroll .section_crypto_list_scroll_line {
  white-space: nowrap;
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var(--t) * -1);
}

.section_crypto_list_scroll .section_crypto_list_scroll_line:nth-child(2) {
  animation: animate2 var(--t) linear infinite;
  animation-delay: calc(var(--t) / -2);
}

.section_crypto_list_scroll .section_crypto_list_scroll_line span {
  display: inline-flex;
  font-size: 1.1rem;
  font-weight: normal;
  color: #fbfafa;
  text-transform: none;
  letter-spacing: 2px;
  padding: 10px 20px;
  background: #1786F9;
  box-shadow: 0 0 10px #1786F9;
  border-radius: 5px;
  margin: 10px;
  transition: 0.5s;
}

@keyframes animate {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-25%);
    /* change the distance of elements */
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes animate2 {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
    /* change the distance of elements */
  }
  100% {
    transform: translateX(0%);
  }
}
.section_crypto_list_card {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 530px) {
  .section_crypto_list_card {
    margin: 40px 0px;
  }
}
@media (max-width: 779px) {
  .section_crypto_list_card {
    flex-basis: calc(40% - 20px);
    max-width: 550px;
  }
}
.section_crypto_list_card .section_crypto_list_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 150px;
  height: 100px;
  background: #fbfafa;
  border-radius: 10px;
  margin: 10px;
}
.section_crypto_list_card .section_crypto_list_card:nth-child(1) {
  background: #00FEFB;
  box-shadow: 0 0 10px #00FEFB;
}
.section_crypto_list_card .section_crypto_list_card:nth-child(2) {
  background: #0769f4;
  box-shadow: 0 0 10px #0769f4;
}
.section_crypto_list_card .section_crypto_list_card:nth-child(3) {
  background: #a852ff;
  box-shadow: 0 0 10px #a852ff;
}
.section_crypto_list_card .section_crypto_list_card:nth-child(4) {
  background: #ff00dd;
  box-shadow: 0 0 10px #ff00dd;
}
.section_crypto_list_card .section_crypto_list_card .section_crypto_list_card_title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e1c1c;
  text-transform: capitalize;
  letter-spacing: 2px;
}

/* section_crypto_list_end */
/* line */
.line {
  background: linear-gradient(270deg, #1e1c1c, #1e1c1c, #00FEFB, #00FEFB, #1786F9, #00FEFB, #1786F9, #00FEFB, #00FEFB, #1e1c1c, #1e1c1c);
  height: 1px;
  opacity: 1;
  border-radius: 30px;
  border: 0;
  margin: 30px;
}
@media (max-width: 779px) {
  .line {
    margin: 40px;
  }
}

/* line_end */
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 40vh;
  padding: 0px 5%;
  margin: 0px auto;
}
@media (max-width: 779px) {
  .footer {
    margin: 0px;
    display: block;
  }
}

.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 25px auto;
  height: 350px;
}
@media (max-width: 779px) {
  .footer_container {
    display: block;
  }
}

.footer_container_figure {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 300px;
}
@media (max-width: 779px) {
  .footer_container_figure {
    margin: 25px auto;
  }
}
.footer_container_figure .footer_container_figure_link {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2rem;
  background-image: linear-gradient(35deg, #00FEFB, #1786F9);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fbfafa;
  text-transform: none;
  letter-spacing: 3px;
}
.footer_container_figure .footer_container_figure_link_figcaption {
  padding: 10px;
}
.footer_container_figure .footer_container_figure_link_image {
  animation: rotate 3s linear infinite;
}

.footer_container_info {
  margin: 0px auto;
}
.footer_container_info .footer_container_info_newsletter {
  text-align: center;
}
.footer_container_info .footer_container_info_newsletter .footer_container_info_newsletter_input {
  width: 300px;
  height: 50px;
  padding: 0px 10px;
  border: none;
  border-left: solid 1px rgba(128, 128, 128, 0.8);
  border-bottom: solid 1px rgba(128, 128, 128, 0.8);
  outline: none;
  background: transparent;
  color: #00FEFB;
  transition: 0.5s;
}
.footer_container_info .footer_container_info_newsletter .footer_container_info_newsletter_input:hover {
  border-left: solid 1px #00FEFB;
  border-bottom: solid 1px #00FEFB;
}
.footer_container_info .footer_container_info_newsletter .footer_container_info_newsletter_input::-moz-placeholder {
  font-size: 12px;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.footer_container_info .footer_container_info_newsletter .footer_container_info_newsletter_input::placeholder {
  font-size: 12px;
  font-weight: 700;
  color: #fbfafa;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.footer_container_info .footer_container_info_newsletter .bx-right-arrow-alt {
  color: gray;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
  right: 30px;
}
@media (max-width: 376px) {
  .footer_container_info .footer_container_info_newsletter .bx-right-arrow-alt {
    display: none;
  }
}

.footer_container_company_nav_bar {
  display: flex;
  flex-direction: column;
}
.footer_container_company_nav_bar .footer_container_company_nav_bar_list {
  display: flex;
  margin: 20px auto;
}
@media (max-width: 779px) {
  .footer_container_company_nav_bar .footer_container_company_nav_bar_list {
    display: block;
  }
}
.footer_container_company_nav_bar .footer_container_company_nav_bar_list .footer_container_company_nav_bar_list_items {
  display: flex;
  margin: 0px 20px;
  font-size: 1.2rem;
  text-align: center;
}
@media (max-width: 779px) {
  .footer_container_company_nav_bar .footer_container_company_nav_bar_list .footer_container_company_nav_bar_list_items {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}
.footer_container_company_nav_bar .footer_container_company_nav_bar_list .footer_container_company_nav_bar_list_items .footer_container_company_nav_bar_list_items_link {
  font-size: 1.1rem;
  font-weight: normal;
  color: #fbfafa;
  text-transform: none;
  letter-spacing: 2px;
  line-height: 1.2;
}
.footer_container_company_nav_bar .footer_container_company_nav_bar_list .footer_container_company_nav_bar_list_items .footer_container_company_nav_bar_list_items_link:hover {
  color: #1786F9;
}

/* footer_container_media */
.footer_container_media {
  display: flex;
  margin: 0px auto;
}
@media (max-width: 779px) {
  .footer_container_media {
    margin: 20px auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/* footer_container_media_end */
.footer_container_media li {
  flex-basis: calc(25% - 20px);
  margin-bottom: 20px;
}

/* footer_media_link */
.footer_container_media_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0px 15px;
  background: #1786F9;
  border: solid 1px #fbfafa;
  color: #fbfafa;
  transition: 0.3s;
}
.footer_container_media_link:hover {
  background: #fbfafa;
  color: #1e1c1c;
}
.footer_container_media_link i:hover {
  color: #1e1c1c;
}

/* footer_media_link_end */
/* footer_end */
/* footer_pop_pup_container */
.footer_pop_up_active {
  display: block;
}

.footer_pop_up {
  display: none;
}

/* footer_pop_up_container_end */
/* pop_up_newsletter */
.footer_pop_up_newsletter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  border-radius: 20px;
  border: 1px solid #fbfafa;
  background: #0769f4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 300px;
  height: 300px;
  z-index: 7000;
}

.footer_pop_up_newsletter_check {
  border-radius: 50%;
  padding: 20px;
  background: #fbfafa;
  font-size: 1.5rem;
}

.footer_pop_up_newsletter_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px auto;
  text-align: center;
  color: #fbfafa;
  font-weight: normal;
  line-height: 1.2;
}
.footer_pop_up_newsletter_container .footer_pop_up_newsletter_container_description {
  letter-spacing: 1px;
  padding: 5px 0px;
}
.footer_pop_up_newsletter_container .footer_pop_up_newsletter_container_title {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 900;
}

/* footer_pop_up_link */
.footer_pop_up_newsletter_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  height: 35px;
  background: #fbfafa;
  border: solid 1px #fbfafa;
  border-radius: 10px;
  color: #1e1c1c;
  transition: 0.2s;
  z-index: 100;
}
.footer_pop_up_newsletter_link:hover {
  background: #1e1c1c;
  color: #fbfafa;
}

/* footer_pop_up_link_end */
/* overlay */
.overlay_acive {
  display: block;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* overlay_end */
/* pop_up_newsletter_end *//*# sourceMappingURL=main.css.map */